<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/include_footer_layout}">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/proIntroduce.css}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
</head>

<body layout:fragment="content">

<div class="total">
<div class="scrollContent">
    <h1>Professional Introduce</h1>
    <hr/>
    
    <div class="itemArray">
        <section class="proItem">
            <div class="container">
                <div>
                    <div class="card card0">
                        <div class="border">
                            <h2>Lee WooJin</h2>
                            <div class="icons">
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                            </div>
                        </div>
                    </div>
                    <div class="itemInfo">
                        이우진
                    </div>
                </div>
            </div>
    </section>
        <section class="proItem">
            <div class="container">
                <div>
                    <div class="card card1">
                        <div class="border">
                            <h2>Kwon ChungOh</h2>
                            <div class="icons">
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                            </div>
                        </div>
                    </div>
                    <div class="itemInfo">
                        권충오
                    </div>
                </div>
                <div>
                    <div class="card card2">
                        <div class="border">
                            <h2>Kang JunHee</h2>
                            <div class="icons">
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                            </div>
                        </div>
                    </div>
                    <div class="itemInfo">
                        강준희
                    </div>
                </div>
                <div>
                    <div class="card card3">
                        <div class="border">
                            <h2>Kim JaeHwan</h2>
                            <div class="icons">
                                <li class="fa" aria-hidden="true">메인페이지</li>
                                <li class="fa" aria-hidden="true">실시간채팅</li>
                                <li class="fa" aria-hidden="true">커뮤니티 댓글</li>
                                <li class="fa" aria-hidden="true">마이페이지 페이징 및 검색</li>
<!--                                <li class="fa" aria-hidden="true"></li>-->
                            </div>
                        </div>
                    </div>
                    <div class="itemInfo">
                        김재환
                    </div>
                </div>
            </div>
        </section>
        <section class="proItem">
            <div class="container">
                <div>
                    <div class="card card4">
                        <div class="border">
                            <h2>Park JangMi</h2>
                            <div class="icons">
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                            </div>
                        </div>
                    </div>
                    <div class="itemInfo">
                        박장미
                    </div>
                </div>
                <div>
                    <div class="card card5">
                        <div class="border">
                            <h2>Yun JiHyun</h2>
                            <div class="icons">
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                            </div>
                        </div>
                    </div>
                    <div class="itemInfo">
                        윤지현
                    </div>
                </div>
                <div>
                    <div class="card card6">
                        <div class="border">
                            <h2>Cho SeoYoung</h2>
                            <div class="icons">
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                                <li class="fa" aria-hidden="true"></li>
                            </div>
                        </div>
                    </div>
                    <div class="itemInfo">
                        조서영
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</div>
</body>

</html>
