<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/include_footer_layout}">
<head>
    <meta charset="UTF-8">
    <title>게시글 검색</title>
    <link rel="stylesheet" th:href="@{/css/community/boardList.css}">
</head>

<body layout:fragment="content">

<div class="layout">
    <h1>커뮤니티</h1>
    <hr/>

    <div class = "headrow">
        <form action="/community/list/search" method="get">
            <div class = "headrowL">
                <input type="text" class = "searchbox" name="keyword" placeholder="검색어 입력" th:value="${searchKeyword}">
                <button class = "searchbtn"  type="submit">검색</button>
            </div>
        </form>
    </div>
    <hr/>

    <div class = "headrowR">
        <button type="button" class="writebtn" onclick="location.href = '/community/write'" >글쓰기</button>
    </div>

    <table id = "freeboard-tb">
        <thead>
        <tr>
            <th class="b-n">No.</th>
            <th class="b-t">제목</th>
            <th class="b-w">작성자</th>
            <th class="b-d">작성일</th>
            <th class="b-n">조회수</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="community : ${list}">
            <td th:text="${community.id}">1</td>
            <td>
                <a th:text="${community.title}" th:href="@{/community/view(id=${community.id})}">제목</a>
            </td>
            <td th:text="${community.author}">작성자</td>
            <td th:text="${#temporals.format(community.createdAt, 'yyyy-MM-dd')}">yyyy-MM-dd</td>
            <td th:text = "${community.view}">0</td>
        </tr>
        </tbody>
    </table>
    <div class="pagination">
    <span th:if="${currentPage > 1}">
        <a th:href="@{/community/list/search(page=${currentPage - 1}, keyword=${searchKeyword})}" class="prev">&lt; 이전</a>
    </span>
        <span th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
        <a th:href="@{/community/list/search(page=${pageNum}, keyword=${searchKeyword})}" th:classappend="${pageNum == currentPage} ? 'active' : ''">
            <span th:text="${pageNum}"></span>
        </a>
     </span>
        <span th:if="${currentPage < totalPages}">
        <a th:href="@{/community/list/search(page=${currentPage + 1}, keyword=${searchKeyword})}" class="next">다음 &gt;</a>
    </span>
    </div>
</div>
</body>

</html>