<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/include_footer_layout}">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/community/communityWrite.css}">
</head>
<body layout:fragment="content">
<div class="layout">
    <form th:action="@{/community/update/{id}(id=${update.id})}" method="post">
        <table border="1">
            <tr>
                <th>제목</th>
                <td> <input name="title" type="text" th:value="${update.title}"></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td>
                    <input type="hidden" class="read" name="author" th:text="${loginMember.name}" th:value="${loginMember.name}">
                </td>
            </tr>
            <tr>
                <th>수정일</th>
                <td><p th:text="${#temporals.format(update.modifiedAt, 'yyyy-MM-dd')}">yyyy-MM-dd</p>
            </tr>
            <tr>
                <th>내용</th>
                <td> <textarea name="content" th:text="${update.content}"></textarea></td>
            </tr>
        </table>
        <div class="buttonL">
            <button type="button" class="three-btn" onclick="location.href = '/community/list'">
                목록
            </button>
        </div>
        <div class="buttonR">
            <button type="reset" class="three-btn">초기화</button>
            <button type="submit" class="three-btn">수정</button>
        </div>
    </form>
</div>
</body>
</html>

