<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 콘솔창에 데이터 베이스 로그로 띄우는 것. -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 루트 로거(Root Logger) -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
