<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/default_layout}">
<link rel="stylesheet" th:href="@{css/board_view.css}">

<body layout:fragment="content" >

	<div class="mb-3">
		<p class="title"><strong>제목</strong></p>
		<div th:text="${board.title}"/>
	</div>
	<div class="mb-3">
		<p class="title"><strong>내용</strong></p>
				<div th:text="${board.content}"/>
	</div>
	<a href="/" class="btn btn-primary">목록으로</a>

</body>
</html>