<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/include_footer_layout}">

<head>
	<meta charset="UTF-8">
	<title>아파트사조 프로필</title>
	<!--여기에 적용하실 css 나 js 작성하시면 됩니다. 아래는 예시들 입니다. -->

	<!-- <link rel="stylesheet" th:href="@{/css/파일이름.css}"> -->
	<link rel="stylesheet" th:href="@{/css/miniHome.css}">
	<link rel="stylesheet" href="miniHome.css">
	<!-- <script type="text/javascript" th:src="@{/js/search/search.js}"></script>-->
	<script src="miniHome.js"></script>

</head>

<body layout:fragment="content">

<div class="z-main-container">
	<div class="z-top-container">
		<div class="z-top-first">
			<div class="z-top-first-wrap">
				<div class="z-top-size-wrap">
					<div class="z-top-info">
						<div class="z-top-img">
							<img src="https://www.bdsplanet.com/images/img_none_user_big.png" alt="이미지">
						</div>
						<div class="z-top-text">
							<div class="z-top-title">리빌딩부동산중개</div>
							<div class="z-boss">
								<span class="z-category">대표 : </span>
								<span class="z-category2">김현규</span>
							</div>
							<div class="z-addr">
								<span class="z-category">주소 : </span>
								<span class="z-category2">서울 강남구 언주로 712 (논현동)</span>
							</div>
							<div class="z-tel">
								<span class="z-category">대표번호 : </span>
								<span class="z-category2">070-4348-5625</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="z-top-second">
			<div class="z-top-wrap">
				<div class="z-top-seperate1">
					<button class="z-top-btn">
						주거용
						<span class="z-count">13</span>
					</button>
				</div>
				<div class="z-top-seperate2">
					<button class="z-top-btn">
						상업용
						<span class="z-count">125</span>
					</button>


				</div>
			</div>
		</div>
	</div>
	<div class="z-second-wrap">
		<div class="z-middle-container">
			<div class="z-middle-wrap">
				<button class="z-hash-tags">#관리비 저렴</button>
				<button class="z-hash-tags">#관리비 저렴</button>
				<button class="z-hash-tags">#관리비 저렴</button>
				<button class="z-hash-tags">#관리비 저렴</button>
			</div>
		</div>
		<div class="z-bottom-container">
			<div class="z-bottom-wrap">
				<!-- 매물 1개 -->
				<a href="#" class="z-content-wrap">
					<div class="z-img-wrap">
						<img src="/img/details/t.jpeg" alt="이미지" class="z-img">
					</div>
					<div class="z-text-wrap">
						<div class="z-bottom-text">
							<div class="z-text-title">매매 100억</div>
							<div class="z-text-contents">
								<div class="z-text-content1">
									<span class="z-t">상가주택</span>
									<span class="z-text-content2">서초동 상가주택</span>
								</div>
								<div class="z-text-content1">
									851.7/851.71㎡
									<span class="z-text-content2">지하-/지상2층</span>
								</div>
								<div class="z-text-content3">서초역 역세권 업무주거배후세대 풍부</div>
							</div>
							<!-- z-text-contents 끝 -->
							<div class="z-text-hash-wrap">
								<!-- 이건 마지막값 한개만 가져오는 것. -->
								<button class="z-text-hash">#역세권</button>
							</div>
							<!-- z-text-hash-wrap 끝 -->
						</div>
						<!-- z-bottom-text 끝 -->
					</div>
					<!-- z-text-wrap 끝 -->
				</a>

				<!-- 매물 1개 -->
				<a href="#" class="z-content-wrap">
					<div class="z-img-wrap">
						<img src="/img/details/t.jpeg" alt="이미지" class="z-img">
					</div>
					<div class="z-text-wrap">
						<div class="z-bottom-text">
							<div class="z-text-title">매매 100억</div>
							<div class="z-text-contents">
								<div class="z-text-content1">
									<span class="z-t">상가주택</span>
									<span class="z-text-content2">서초동 상가주택</span>
								</div>
								<div class="z-text-content1">
									851.7/851.71㎡
									<span class="z-text-content2">지하-/지상2층</span>
								</div>
								<div class="z-text-content3">서초역 역세권 업무주거배후세대 풍부</div>
							</div>
							<!-- z-text-contents 끝 -->
							<div class="z-text-hash-wrap">
								<!-- 이건 마지막값 한개만 가져오는 것. -->
								<button class="z-text-hash">#역세권</button>
							</div>
							<!-- z-text-hash-wrap 끝 -->
						</div>
						<!-- z-bottom-text 끝 -->
					</div>
					<!-- z-text-wrap 끝 -->
				</a>

				<!-- 매물 1개 -->
				<a href="#" class="z-content-wrap">
					<div class="z-img-wrap">
						<img src="/img/details/t.jpeg" alt="이미지" class="z-img">
					</div>
					<div class="z-text-wrap">
						<div class="z-bottom-text">
							<div class="z-text-title">매매 100억</div>
							<div class="z-text-contents">
								<div class="z-text-content1">
									<span class="z-t">상가주택</span>
									<span class="z-text-content2">서초동 상가주택</span>
								</div>
								<div class="z-text-content1">
									851.7/851.71㎡
									<span class="z-text-content2">지하-/지상2층</span>
								</div>
								<div class="z-text-content3">서초역 역세권 업무주거배후세대 풍부</div>
							</div>
							<!-- z-text-contents 끝 -->
							<div class="z-text-hash-wrap">
								<!-- 이건 마지막값 한개만 가져오는 것. -->
								<button class="z-text-hash">#역세권</button>
							</div>
							<!-- z-text-hash-wrap 끝 -->
						</div>
						<!-- z-bottom-text 끝 -->
					</div>
					<!-- z-text-wrap 끝 -->
				</a>

				<!-- 매물 1개 -->
				<a href="#" class="z-content-wrap">
					<div class="z-img-wrap">
						<img src="/img/details/t.jpeg" alt="이미지" class="z-img">
					</div>
					<div class="z-text-wrap">
						<div class="z-bottom-text">
							<div class="z-text-title">매매 100억</div>
							<div class="z-text-contents">
								<div class="z-text-content1">
									<span class="z-t">상가주택</span>
									<span class="z-text-content2">서초동 상가주택</span>
								</div>
								<div class="z-text-content1">
									851.7/851.71㎡
									<span class="z-text-content2">지하-/지상2층</span>
								</div>
								<div class="z-text-content3">서초역 역세권 업무주거배후세대 풍부</div>
							</div>
							<!-- z-text-contents 끝 -->
							<div class="z-text-hash-wrap">
								<!-- 이건 마지막값 한개만 가져오는 것. -->
								<button class="z-text-hash">#역세권</button>
							</div>
							<!-- z-text-hash-wrap 끝 -->
						</div>
						<!-- z-bottom-text 끝 -->
					</div>
					<!-- z-text-wrap 끝 -->
				</a>

				<!-- 매물 1개 -->
				<a href="#" class="z-content-wrap">
					<div class="z-img-wrap">
						<img src="/img/details/t.jpeg" alt="이미지" class="z-img">
					</div>
					<div class="z-text-wrap">
						<div class="z-bottom-text">
							<div class="z-text-title">매매 100억</div>
							<div class="z-text-contents">
								<div class="z-text-content1">
									<span class="z-t">상가주택</span>
									<span class="z-text-content2">서초동 상가주택</span>
								</div>
								<div class="z-text-content1">
									851.7/851.71㎡
									<span class="z-text-content2">지하-/지상2층</span>
								</div>
								<div class="z-text-content3">서초역 역세권 업무주거배후세대 풍부</div>
							</div>
							<!-- z-text-contents 끝 -->
							<div class="z-text-hash-wrap">
								<!-- 이건 마지막값 한개만 가져오는 것. -->
								<button class="z-text-hash">#역세권</button>
							</div>
							<!-- z-text-hash-wrap 끝 -->
						</div>
						<!-- z-bottom-text 끝 -->
					</div>
					<!-- z-text-wrap 끝 -->
				</a>

				<!-- 매물 1개 -->
				<a href="#" class="z-content-wrap">
					<div class="z-img-wrap">
						<img src="/img/details/t.jpeg" alt="이미지" class="z-img">
					</div>
					<div class="z-text-wrap">
						<div class="z-bottom-text">
							<div class="z-text-title">매매 100억</div>
							<div class="z-text-contents">
								<div class="z-text-content1">
									<span class="z-t">상가주택</span>
									<span class="z-text-content2">서초동 상가주택</span>
								</div>
								<div class="z-text-content1">
									851.7/851.71㎡
									<span class="z-text-content2">지하-/지상2층</span>
								</div>
								<div class="z-text-content3">서초역 역세권 업무주거배후세대 풍부</div>
							</div>
							<!-- z-text-contents 끝 -->
							<div class="z-text-hash-wrap">
								<!-- 이건 마지막값 한개만 가져오는 것. -->
								<button class="z-text-hash">#역세권</button>
							</div>
							<!-- z-text-hash-wrap 끝 -->
						</div>
						<!-- z-bottom-text 끝 -->
					</div>
					<!-- z-text-wrap 끝 -->
				</a>

				<!-- 매물 1개 -->
				<a href="#" class="z-content-wrap">
					<div class="z-img-wrap">
						<img src="/img/details/t.jpeg" alt="이미지" class="z-img">
					</div>
					<div class="z-text-wrap">
						<div class="z-bottom-text">
							<div class="z-text-title">매매 100억</div>
							<div class="z-text-contents">
								<div class="z-text-content1">
									<span class="z-t">상가주택</span>
									<span class="z-text-content2">서초동 상가주택</span>
								</div>
								<div class="z-text-content1">
									851.7/851.71㎡
									<span class="z-text-content2">지하-/지상2층</span>
								</div>
								<div class="z-text-content3">서초역 역세권 업무주거배후세대 풍부</div>
							</div>
							<!-- z-text-contents 끝 -->
							<div class="z-text-hash-wrap">
								<!-- 이건 마지막값 한개만 가져오는 것. -->
								<button class="z-text-hash">#역세권</button>
							</div>
							<!-- z-text-hash-wrap 끝 -->
						</div>
						<!-- z-bottom-text 끝 -->
					</div>
					<!-- z-text-wrap 끝 -->
				</a>

				<!-- 매물 1개 -->
				<div class="z-content-wrap">
					<div class="z-img-wrap">
						<img src="https://www.bdsplanet.com/images/none_mae.png" alt="이미지">
					</div>
				</div>
				<!-- z-content-wrap 끝 -->

				<!-- 매물 1개 -->
				<div class="z-content-wrap">
					<div class="z-img-wrap">
						<img src="https://www.bdsplanet.com/images/none_mae.png" alt="이미지">
					</div>
				</div>
				<!-- z-content-wrap 끝 -->


			</div>
			<!-- z-bottom-wrap 끝 -->
		</div>
		<!-- z-bottom-container 끝 -->
		<div class="z-page-container">
			<div class="z-page-wrap">
				<button class="z-page-before"></button>
				<a href="#" class="z-pagenation z-p1">
					1
				</a>
				<a href="#" class="z-pagenation">
					2
				</a>
				<button class="z-page-after"></button>

			</div>
		</div>
	</div>
	<!-- z-second-wrap 끝 -->
</div>
<!-- z-main-container 끝 -->
</body>

</html>