<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/include_footer_layout}">

<head>
	<meta charset="UTF-8">
	<title>아파트사조 프로필</title>
	<!--여기에 적용하실 css 나 js 작성하시면 됩니다. 아래는 예시들 입니다. -->

	<!-- <link rel="stylesheet" th:href="@{/css/파일이름.css}"> -->
	<link rel="stylesheet" th:href="@{/css/miniHome.css}">
	<link rel="stylesheet" href="miniHome.css">
	<!-- <script type="text/javascript" th:src="@{/js/search/search.js}"></script>-->
	<script type="text/javascript" th:src="@{/js/miniHome/miniHome.js}"></script>


</head>

<body layout:fragment="content">

<div class="z-main-container">
	<div class="z-top-container">
		<div class="z-top-first">
			<div class="z-top-first-wrap">
				<div class="z-top-size-wrap">
					<div class="z-top-info">
						<div class="z-top-img">
							<img src="https://www.bdsplanet.com/images/img_none_user_big.png" alt="이미지">
						</div>

						<div th:with="maemul=${maemulList[0]}" class="z-top-text">
							<div th:text="${maemul.nickname}" class="z-top-title"></div>
							<div class="z-boss">
								<span class="z-category">대표 : </span>
								<span th:text="${maemul.memberEntity.name}" class="z-category2"></span>
							</div>
							<div class="z-addr">
								<span class="z-category">주소 : </span>
								<span th:text="${maemul.address}" class="z-category2"></span>
							</div>
							<div class="z-tel">
								<span class="z-category">대표번호 : </span>
								<span th:text="${maemul.memberEntity.tel}" class="z-category2"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="z-top-second">
			<div class="z-top-wrap">
				<div class="z-top-seperate1">
					<button class="z-top-btn">
						거주용
						<span th:text="${residentialCount}" class="z-count"></span>
					</button>
				</div>
				<div class="z-top-seperate2">
					<button class="z-top-btn">
						업무용
						<span th:text="${commercialCount}" class="z-count">125</span>
					</button>


				</div>
			</div>
		</div>
	</div>
	<div class="z-second-wrap">
		<div class="z-middle-container">
			<div class="z-middle-wrap">
				<button class="z-hash-tags">#관리비 저렴</button>
				<button class="z-hash-tags">#관리비 저렴</button>
				<button class="z-hash-tags">#관리비 저렴</button>
				<button class="z-hash-tags">#관리비 저렴</button>
			</div>
		</div>
		<div class="z-bottom-container">
			<div class="z-bottom-wrap">
				<!-- 거주용 매물 -->
					<a th:if="${m.buildingUsage.equals('거주용') || m.buildingUsage.equals('거주/업무용')}" th:each="m : ${maemulList}" th:href="@{/details/{id}(id=${m.id})}" class="z-content-wrap z-home">
						<div class="z-img-wrap">
							<img src="/img/details/t.jpeg" alt="이미지" class="z-img">
						</div>
						<div class="z-text-wrap">
							<div class="z-bottom-text">
								<div class="z-text-title">
									<span th:if="${m.tradeType == '매매'}"
									   th:with="sp_djr=${m.sellingPrice / 10000}, sp_aks=${m.sellingPrice % 10000}"
									   th:text="${'매매 ' + #strings.concat(sp_djr > 0 ? sp_djr + '억 ' : '', sp_aks > 0 ? sp_aks + '만원' : '')}">
									</span>
									<span th:if="${m.tradeType == '전세'}"
									   th:with="dp_djr=${m.depositForLease / 10000}, dp_aks=${m.depositForLease % 10000}"
									   th:text="${'전세 ' + #strings.concat(dp_djr > 0 ? dp_djr + '억 ' : '', dp_aks > 0 ? dp_aks + '만원' : '')}">
									</span>
									<span th:if="${m.tradeType == '월세'}"
									      th:with="mr_djr=${m.monthlyRent / 10000}, mr_aks=${m.monthlyRent % 10000}, mfr_djr=${m.monthlyForRent / 10000}, mfr_aks=${m.monthlyForRent % 10000}"
									      th:text="${'월세 ' + #strings.concat(mfr_djr > 0 ? mfr_djr + '억/' : '', mfr_aks > 0 ? mfr_aks + '/' : '')} + ${#strings.concat(mr_djr > 0 ? mr_djr + '억 ' : '', mr_aks > 0 ? mr_aks : '')}">
									</span>

								</div>
								<div class="z-text-contents">
									<div class="z-text-content1">
										<span th:text="${m.buildingUsage}" class="z-t">상가주택</span>
										<span th:text="${m.address}" class="z-text-content2"></span>
									</div>
									<div class="z-text-content1">
										<span th:text="${m.privateArea} + '/' + ${m.supplyArea} + '㎡'"></span>
										<span th:text="${m.floorNumber} + '층/' + ${m.totalFloors} + '층'" class="z-text-content2"></span>
									</div>
									<div th:text="${m.title}" class="z-text-content3"></div>
								</div>
								<!-- z-text-contents 끝 -->
								<div class="z-text-hash-wrap">
									<!-- 이건 마지막값 한개만 가져오는 것. -->
									<button class="z-text-hash">#역세권</button>
								</div>
								<!-- z-text-hash-wrap 끝 -->
							</div>
							<!-- z-bottom-text 끝 -->
						</div>
						<!-- z-text-wrap 끝 -->
					</a>
				<!-- 거주용 끝 -->

				<!-- 업무용 매물 -->
					<a th:if="${m.buildingUsage.equals('업무용') || m.buildingUsage.equals('거주/업무용')}" th:each="m : ${maemulList}" th:href="@{/details/{id}(id=${m.id})}"  class="z-content-wrap z-work">
						<div class="z-img-wrap">
							<img src="/img/details/t.jpeg" alt="이미지" class="z-img">
						</div>
						<div class="z-text-wrap">
							<div class="z-bottom-text">
								<div class="z-text-title">
									<span th:if="${m.tradeType == '매매'}"
									      th:with="sp_djr=${m.sellingPrice / 10000}, sp_aks=${m.sellingPrice % 10000}"
									      th:text="${'매매 ' + #strings.concat(sp_djr > 0 ? sp_djr + '억 ' : '', sp_aks > 0 ? sp_aks + '만원' : '')}">
									</span>
									<span th:if="${m.tradeType == '전세'}"
									      th:with="dp_djr=${m.depositForLease / 10000}, dp_aks=${m.depositForLease % 10000}"
									      th:text="${'전세 ' + #strings.concat(dp_djr > 0 ? dp_djr + '억 ' : '', dp_aks > 0 ? dp_aks + '만원' : '')}">
									</span>
									<span th:if="${m.tradeType == '월세'}"
									      th:with="mr_djr=${m.monthlyRent / 10000}, mr_aks=${m.monthlyRent % 10000}, mfr_djr=${m.monthlyForRent / 10000}, mfr_aks=${m.monthlyForRent % 10000}"
									      th:text="${'월세 ' + #strings.concat(mfr_djr > 0 ? mfr_djr + '억/' : '', mfr_aks > 0 ? mfr_aks + '/' : '')} + ${#strings.concat(mr_djr > 0 ? mr_djr + '억 ' : '', mr_aks > 0 ? mr_aks : '')}">
									</span>

								</div>
								<div class="z-text-contents">
									<div class="z-text-content1">
										<span th:text="${m.buildingUsage}" class="z-t">상가주택</span>
										<span th:text="${m.address}" class="z-text-content2"></span>
									</div>
									<div class="z-text-content1">
										<span th:text="${m.privateArea} + '/' + ${m.supplyArea} + '㎡'"></span>
										<span th:text="${m.floorNumber} + '층/' + ${m.totalFloors} + '층'" class="z-text-content2"></span>
									</div>
									<div th:text="${m.title}" class="z-text-content3"></div>
								</div>
								<!-- z-text-contents 끝 -->
								<div class="z-text-hash-wrap">
									<!-- 이건 마지막값 한개만 가져오는 것. -->
									<button class="z-text-hash">#역세권</button>
								</div>
								<!-- z-text-hash-wrap 끝 -->
							</div>
							<!-- z-bottom-text 끝 -->
						</div>
						<!-- z-text-wrap 끝 -->
					</a>
				<!-- 업무용 끝 -->

				<!-- 비어 있는 곳 채우기 용 이미지 -->
				<div th:if="${maemulList.size() == 1}" class="z-content-wrap">
					<div class="z-img-wrap">
						<img src="https://www.bdsplanet.com/images/none_mae.png" alt="채우기용 이미지">
					</div>
				</div>
				<div th:if="${maemulList.size() == 1}" class="z-content-wrap">
					<div class="z-img-wrap">
						<img src="https://www.bdsplanet.com/images/none_mae.png" alt="채우기용 이미지">
					</div>
				</div>

				<div th:if="${maemulList.size() == 2}" class="z-content-wrap">
					<div class="z-img-wrap">
						<img src="https://www.bdsplanet.com/images/none_mae.png" alt="채우기용 이미지">
					</div>
				</div>
				<!-- z-content-wrap 끝 -->


			</div>
			<!-- z-bottom-wrap 끝 -->
		</div>
		<!-- z-bottom-container 끝 -->
		<div class="z-page-container">
			<div class="z-page-wrap">
				<button class="z-page-before"></button>
				<a href="#" class="z-pagenation z-p1">
					1
				</a>
				<a href="#" class="z-pagenation">
					2
				</a>
				<button class="z-page-after"></button>

			</div>
		</div>
	</div>
	<!-- z-second-wrap 끝 -->
</div>
<!-- z-main-container 끝 -->
</body>

</html>