<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/include_footer_layout}">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/member/myPage.css}">
    <link rel="stylesheet" th:href="@{/css/member/myCommon.css}">
    <!-- 부트스트랩 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body layout:fragment="content">
    <div class="o-bgc-t"></div>
    <div class="container mt-5" id="oInner-container">
        <div>
            <div class="o-page-title">
                <h4 class="h4 fw-bold mb-3">이메일/비밀번호 찾기</h4>
            </div>
            <div class="o-find-c">
                <div>
                    <p class="o-find-subTitle">이메일 찾기</p>
                </div>
                <form th:action="@{/member/qFindEmail}" method="POST" onsubmit="return oFindEmailCheck()">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" name="name" placeholder="" autofocus="autofocus" />
                        <label th:for="name" class="oLabelColor">이름</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="tel" name="tel" placeholder="01012345678(하이픈 '-' 제외 숫자만)" />
                        <label th:for="tel" class="oLabelColor">연락처</label>
                    </div>
                    <span>
                        <div class="ofindResult">
                            <p th:if="${findEmail != null}" th:text="${findEmail}"></p>
                            <p th:if="${findEmailFailed != null}" th:text="${findEmailFailed}"></p>
                        </div>
                    </span>
                    <div class="o-find-btn-c">
                        <input type="submit" class="btn btn-dark mb-5 mt-3" value="이메일 찾기" />
                    </div>
                </form>
            </div>

            <div class="o-find-c">
                <div>
                    <p class="o-find-subTitle">비밀번호 재설정</p>
                </div>
                <div>
                    <p id="o-find-info">가입하신 이메일 주소로 임시 비밀번호를 발송합니다.</p>
                </div>
                <form role="form" name="sendEmail" th:action="@{/sendEmail}" method="POST" onsubmit="return oFindPwdCheck()">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="userEmail" name="userEmail" placeholder="" />
                        <label th:for="emailpwd" class="oLabelColor">이메일 주소</label>
                    </div>
                    <span>
                        <div class="ofindResult">
                            <p th:if="${findPwd != null}" th:text="${findPwd}"></p>
                            <p th:if="${findPwdFailed != null}" th:text="${findPwdFailed}"></p>
                        </div>
                    </span>
                    <div class="o-find-btn-c">
                        <input type="submit" id="checkEmail" class="btn btn-dark mb-3 mt-3" value="비밀번호 재설정" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script th:src="@{/js/member/myPage.js}"></script>
    <!-- 부트스트랩 script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</body>
</html>
