<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/include_footer_layout}">
<head>
    <meta charset="UTF-8">
    <title>매물관리</title>
    <!-- 부트스트랩 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/member/myPage.css}">
    <link rel="stylesheet" th:href="@{/css/member/myCommon.css}">
    <link rel="stylesheet" th:href="@{/css/member/myMaemul.css}">
</head>
<body layout:fragment="content">

<th:block th:if="${loginMember != null}">
    <th:block th:object="${loginMember}">
        <div id="o-container">
            <div id="o-content">
                <!-- 마이페이지 네비게이션바 -->
                <div class="o-lnb">
                    <div class="o-wrapper">
                        <ul class="o-lnb-list">
                            <li class="o-lnb-item"><a th:href="@{/member/qMyPage}">내정보</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/qMyInfoUpdate}">내정보수정</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/qManagement}" style="color:#26ABED;">매물관리</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/liked}">관심매물</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/qRecent}">최근본매물</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/qMyQnA}">1:1문의내역</a></li>
                        </ul>
                    </div>
                </div>

                <div class="o-mid-wrapper">
                    <div class="o-mid-inner mt-5" id="o-tb-wrap">
                        <div class="o-page-title">
                            <h3 class="h3 fw-bold">매물 관리</h3>
                        </div>
                        <div class="oMyQnaTb">
                            <table class="faq-tb">
                                <form th:action="@{/member/qDeleteMaemul}" method="POST">
                                    <thead>
                                        <tr>
                                            <th class="o-md-date">등록일시</th>
                                            <th class="o-md-type">매물종류</th>
                                            <th class="o-md-img">이미지</th>
                                            <th class="o-md-title">제목</th>
                                            <th class="o-md-add">주소</th>
                                            <th class="o-md-area">층/면적</th>
                                            <th class="o-md-amount">거래 및 가격</th>
                                            <th class="o-md-btns">수정<br/>삭제</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <p>총<span class="o-cntAll" th:text="${mmAllCnt}"></span>개</p>
                                        <th:block th:if="${mmAllCnt == 0}">
                                            <tr><td colspan="6">조회된 데이터가 없습니다.</td></tr>
                                        </th:block>
                                        <tr th:if="${mmAllCnt != 0}" th:each="mmList : ${mmList}">
                                            <input type="hidden" id="num" th:name="id" th:value="${mmList.id}">
                                            <td>
                                                <span th:text="${#temporals.format(mmList.createdAt, 'yyyy-MM-dd')}">yyyy-MM-dd</span><br>
                                                <span th:text="${#temporals.format(mmList.createdAt, 'HH:mm:ss')}">HH:mm:ss</span>
                                            </td>
                                            <td id="o-d-type" th:text="${mmList.tradeType}">매물종류</td>
                                            <td id="o-d-photo">
                                                <img src="https://www.bdsplanet.com/common/thumbs.ytp?filepath=/COMP_20201027000920000005/upload/realty/RCODE_20230731160156000045/&filename=1690787077205_1.jpg" width="80">
                                            </td>
                                            <td class="o-link-td">
                                                <a th:text="${mmList.title}" th:href="@{/details/{id}(id=${mmList.id})}">매물링크</a>
                                            </td>
                                            <td class="o-link-td">
                                                <a th:text="${mmList.address}" th:href="@{/details/{id}(id=${mmList.id})}">주소</a>
                                            </td>
                                            <td>
                                                <div th:text="${mmList.totalFloors} + '/' + ${mmList.floorNumber} + '층'">엘리베이터 전체/현재</div>
                                                <div th:text="${'공급 : ' + mmList.privateArea + '㎡'}">공급면적</div>
                                                <div th:text="${'전용 : ' + mmList.supplyArea + '㎡'}">전용면적</div>
                                            </td>
                                            <td>
                                                <div th:text="${mmList.tradeType}">월세전세매매</div>
                                                <div id="o-md-load" th:text="${mmList.monthlyForRent + '만 / ' + mmList.monthlyRent + '만'}">보증금/월세</div>
                                            </td>
                                            <td class="o-t-btns">
                                                <input type="button" value="수정" th:href="@{/}">
                                                <input type="submit" value="삭제">
                                            </td>
                                        </tr>
                                    </tbody>
                                </form>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
<!-- 부트스트랩 script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
