<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/include_footer_layout}">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/css/member/myPage.css}">
    <link rel="stylesheet" th:href="@{/css/member/myCommon.css}">
    <!-- 부트스트랩 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body layout:fragment="content">
<!-- 세션 객체 지정 및 로그인 여부 확인 -->
<th:block th:object="${loginMember}">
    <th:block th:if="${loginMember != null}">
        <div id="oContainer">
            <div id="content">
                <!-- 마이페이지 네비게이션바 -->
                <div class="o-lnb">
                    <div class="o-wrapper">
                        <ul class="o-lnb-list">
                            <li class="o-lnb-item"><a th:href="@{/member/qMyPage}" style="color:#26ABED;">내정보</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/qMyInfoUpdate}">내정보수정</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/qManagement}">매물관리</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/liked}">관심매물</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/qRecent}">최근본매물</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/qMyQnA}">1:1문의내역</a></li>
                        </ul>
                    </div>
                </div>
                <div class="oLayout">
                    <div class="oInfo-top">
                        <div class="oInfo-top-wrapper">
                            <div class="oInfo-left">
                                <div class="oThumbnailImg"> <!-- sns로그인 시 model에서 프로필링크 가져옴, 없으면 default img -->
                                    <img class="myImg" th:if="${thumbnail_image!=null}" th:src="${thumbnail_image}" alt="썸네일이미지">
                                    <img class="myImg" th:if="${thumbnail_image==null}" th:src="@{/img/defaultProfile.jpg}" alt="썸네일이미지">
                                </div>
                                <div class="oInfoMember">
                                    <div class="oInfoMemberContain">
                                        <input type="hidden" id="id" name="id" th:value="*{id}" />
                                        <span th:text="*{name}" id="oInfoMemberName"></span>님<br/>
                                        <span th:text="${root}" id="oInfoMemberRoot"></span>
                                    </div>
                                    <span th:text="*{email}" id="oInfoMemberEmail"></span>
                                </div>
                            </div>
                            <div class="oInfo-right">
                                <div class="oMaemulCnt-inner">
                                    <div class="oMaemulCnt">
                                        <a th:href="@{/member/liked}" th:text="${likedCnt + '건'}"></a>
                                        <span>관심매물</span>
                                    </div>
                                    <div class="oMaemulCnt">
                                        <a th:href="@{/member/qRecent}" >몇건</a>
                                        <span>최근 본 매물</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="oMeamulContainer">
                        <div class="oMaemul-c-inner">
                            <div class="o-tab-c">
                                <div class="o-tab-l" id="o-liked-link2"><!--th:href="@{/member/liked} th:href="@{/member/qRecent}""-->
                                    <a href="#" class="o-tab o-mm-link" id="o-liked-link">관심매물</a>
                                </div>
                                <span id="o-division">|</span>
                                <div class="o-tab-l" id="o-recent-link2" >
                                    <a href="#" class="o-tab o-mm-link" id="o-recent-link">최근본매물</a>
                                </div>
                                <div class="o-tab-r">
                                    <a class="o-mm-link" id="o-allView" th:href="@{/member/liked}">전체보기</a>
                                </div>
                            </div>
                        </div>

                        <div id="o-tab-content1" class="o-tab-content">
                            <!-- 관심매물 0개 일때 -->
                            <div th:if="${likedCnt == 0}" id="o-noCnt">
                                관심매물을 등록해주세요.
                            </div>
                            <!-- 관심매물 영역 -->
                            <div class="z-bottom-container">
                                <div class="z-bottom-wrap">
                                    <!-- 매물 시작 (통으로 링크) -->
                                    <a th:each="mmList, iterStat : ${mmpList}" th:href="@{/details/{id}(id=${mmList.id})}">
                                        <div class="s-mamulbox">
                                            <div class="s-mamul-img">
                                                <img src="/img/details/apt.jpeg" alt="이미지">
                                            </div>
                                            <div class="s-mamul-text">
                                                <div class="s-mamul-text-wrap">
                                                    <div class="s-mamul-text-title">
                                                        <span th:if="${mmList.tradeType == '매매'}"
                                                              th:with="sp_djr=${mmList.sellingPrice / 10000}, sp_aks=${mmList.sellingPrice % 10000}"
                                                              th:text="${'매매 ' + #strings.concat(sp_djr > 0 ? sp_djr + '억 ' : '', sp_aks > 0 ? sp_aks + '만원' : '')}">
                                                        </span>
                                                        <span th:if="${mmList.tradeType == '전세'}"
                                                              th:with="dp_djr=${mmList.depositForLease / 10000}, dp_aks=${mmList.depositForLease % 10000}"
                                                              th:text="${'전세 ' + #strings.concat(dp_djr > 0 ? dp_djr + '억 ' : '', dp_aks > 0 ? dp_aks + '만원' : '')}">
                                                        </span>
                                                        <span th:if="${mmList.tradeType == '월세'}"
                                                              th:text="${'월세 ' + mmList.monthlyForRent + '/' + mmList.monthlyRent}">
                                                        </span>
                                                    </div>
                                                    <div class="s-mamul-text-1">
                                                        <p th:text="${mmList.buildingUsage}">용도</p>
                                                        <p th:text="${' · ' + mmList.address}">주소</p>
                                                    </div>
                                                    <div class="s-mamul-text-2">
                                                        <p th:text="${mmList.privateArea} + '/' + ${mmList.supplyArea} + '㎡ · '">면적</p>
                                                        <p th:text="${mmList.floorNumber} + '층/' + ${mmList.totalFloors} + '층'">층수</p>
                                                    </div>
                                                    <div>
                                                        <p th:text="${mmList.title}" ></p>
                                                    </div>
                                                </div>
                                                <div class="s-mamul-tag">
                                                    <span>#반려동물</span>
                                                    <span>#역세권</span>
                                                    <span>#주변환경 우수</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 비어 있는 곳 채우기 용 이미지 -->
    <!--                                    <div th:if="${likedCnt != 0}">-->
    <!--                                        <div th:if="${iterStat.index % 3 == 1 and iterStat.index + 1 < likedCnt}">-->
    <!--                                            <div class="z-img-wrap">-->
    <!--                                                <img src="https://www.bdsplanet.com/images/none_mae.png" alt="채우기용 이미지">-->
    <!--                                            </div>-->
    <!--                                        </div>-->
    <!--                                        <div th:if="${iterStat.index % 3 == 2 and iterStat.index + 1 < likedCnt}">-->
    <!--                                            <div class="z-img-wrap">-->
    <!--                                                <img src="https://www.bdsplanet.com/images/none_mae.png" alt="채우기용 이미지">-->
    <!--                                                <img src="https://www.bdsplanet.com/images/none_mae.png" alt="채우기용 이미지">-->
    <!--                                            </div>-->
    <!--                                        </div>-->
    <!--                                    </div>-->
                                    </a>
                                    <!-- 매물 끝 -->
                                </div>
                                <!-- z-bottom-wrap 끝 -->
                            </div>
                            <!-- z-bottom-container 끝 -->
                        </div>

                        <div id="o-tab-content2" class="o-tab-content" style="display: none;">
                            <!-- 최근본매물 0개 일때 -->
<!--                            <div th:if="${recentCnt == 0}">-->
<!--                                관심매물을 등록해주세요.-->
<!--                            </div>-->
                            <!-- 최근매물 영역 -->
                            <div class="z-bottom-container">
                                <div class="z-bottom-wrap">
                                    <!-- 매물 시작 (통으로 링크) -->
                                    <a th:each="testList, iterStat : ${testList}" th:href="@{/details/{id}(id=${testList.id})}">
                                        <div class="s-mamulbox">
                                            <div class="s-mamul-img">
                                                <img src="/img/details/apt.jpeg" alt="이미지">
                                            </div>
                                            <div class="s-mamul-text">
                                                <div class="s-mamul-text-wrap">
                                                    <div class="s-mamul-text-title">
                                                        <span th:if="${testList.tradeType == '매매'}"
                                                              th:with="sp_djr=${testList.sellingPrice / 10000}, sp_aks=${testList.sellingPrice % 10000}"
                                                              th:text="${'매매 ' + #strings.concat(sp_djr > 0 ? sp_djr + '억 ' : '', sp_aks > 0 ? sp_aks + '만원' : '')}">
                                                        </span>
                                                        <span th:if="${testList.tradeType == '전세'}"
                                                              th:with="dp_djr=${testList.depositForLease / 10000}, dp_aks=${testList.depositForLease % 10000}"
                                                              th:text="${'전세 ' + #strings.concat(dp_djr > 0 ? dp_djr + '억 ' : '', dp_aks > 0 ? dp_aks + '만원' : '')}">
                                                        </span>
                                                        <span th:if="${testList.tradeType == '월세'}"
                                                              th:text="${'월세 ' + testList.monthlyForRent + '/' + testList.monthlyRent}">
                                                        </span>
                                                    </div>
                                                    <div class="s-mamul-text-1">
                                                        <p th:text="${testList.buildingUsage}">용도</p>
                                                        <p th:text="${' · ' + testList.address}">주소</p>
                                                    </div>
                                                    <div class="s-mamul-text-2">
                                                        <p th:text="${testList.privateArea} + '/' + ${testList.supplyArea} + '㎡ · '">면적</p>
                                                        <p th:text="${testList.floorNumber} + '층/' + ${testList.totalFloors} + '층'">층수</p>
                                                    </div>
                                                    <div>
                                                        <p th:text="${testList.title}" ></p>
                                                    </div>
                                                </div>
                                                <div class="s-mamul-tag">
                                                    <span>#반려동물</span>
                                                    <span>#역세권</span>
                                                    <span>#최근본매물이요</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 비어 있는 곳 채우기 용 이미지 -->
                                        <!--                                    <div th:if="${likedCnt != 0}">-->
                                        <!--                                        <div th:if="${iterStat.index % 3 == 1 and iterStat.index + 1 < likedCnt}">-->
                                        <!--                                            <div class="z-img-wrap">-->
                                        <!--                                                <img src="https://www.bdsplanet.com/images/none_mae.png" alt="채우기용 이미지">-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <!--                                        <div th:if="${iterStat.index % 3 == 2 and iterStat.index + 1 < likedCnt}">-->
                                        <!--                                            <div class="z-img-wrap">-->
                                        <!--                                                <img src="https://www.bdsplanet.com/images/none_mae.png" alt="채우기용 이미지">-->
                                        <!--                                                <img src="https://www.bdsplanet.com/images/none_mae.png" alt="채우기용 이미지">-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <!--                                    </div>-->
                                    </a>
                                    <!-- 매물 끝 -->
                                </div>
                                <!-- z-bottom-wrap 끝 -->
                            </div>
                            <!-- z-bottom-container 끝 -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </th:block>
</th:block>

<script th:src="@{/js/member/myPageMain.js}"></script>
<!-- 부트스트랩 script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>