<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/include_footer_layout}">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/css/member/myPage.css}">
    <link rel="stylesheet" th:href="@{/css/member/myCommon.css}">
    <!-- 부트스트랩 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body layout:fragment="content">
<!-- 세션 객체 지정 및 로그인 여부 확인 -->
<th:block th:object="${loginMember}">
    <th:block th:if="${loginMember != null}">
        <div id="oContainer">
            <div id="content">
                <!-- 마이페이지 네비게이션바 -->
                <div class="o-lnb">
                    <div class="o-wrapper">
                        <ul class="o-lnb-list">
                            <li class="o-lnb-item"><a th:href="@{/member/qMyPage}" style="color:#26ABED;">내정보</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/qMyInfoUpdate}">내정보수정</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/qManagement}">매물관리</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/liked}">관심매물</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/qRecent}">최근본매물</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/qMyQnA}">1:1문의내역</a></li>
                        </ul>
                    </div>
                </div>
                <div class="oLayout">
                    <div class="oInfo-top">
                        <div class="oInfo-top-wrapper">
                            <div class="oInfo-left">
                                <div class="oThumbnailImg"> <!-- sns로그인 시 model에서 프로필링크 가져옴, 없으면 default img -->
                                    <img class="myImg" th:if="${thumbnail_image!=null}" th:src="${thumbnail_image}" alt="썸네일이미지">
                                    <img class="myImg" th:if="${thumbnail_image==null}" th:src="@{/img/defaultProfile.jpg}" alt="썸네일이미지">
                                </div>
                                <div class="oInfoMember">
                                    <div class="oInfoMemberContain">
                                        <input type="hidden" id="id" name="id" th:value="*{id}" />
                                        <span th:text="*{name}" id="oInfoMemberName"></span>님<br/>
                                        <span th:text="${root}" id="oInfoMemberRoot"></span>
                                    </div>
                                    <span th:text="*{email}" id="oInfoMemberEmail"></span>
                                </div>
                            </div>
                            <div class="oInfo-right">
                                <div class="oMaemulCnt-inner">
                                    <div class="oMaemulCnt">
                                        <a th:href="@{/member/liked}">1건</a><!--개수연동예정-->
                                        <span>관심매물</span>
                                    </div>
                                    <div class="oMaemulCnt">
                                        <a th:href="@{/member/qRecent}">2건</a><!--개수연동예정-->
                                        <span>최근 본 매물</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 재환이 작업 필요
                         현재 보고있는 게 관심매물 탭일때는 전체보기 누르면 관심매물페이지(/member/liked)로 이동
                         최근본매물 탭일때는 전체보기 누르면 최근본매물페이지(/member/qRecent)로 이동 -->
                    <div class="oMeamulContainer">
                        <div class="oMaemul-c-inner">
                            <div class="oMeamulTitleContainer">
                                <div class="oMeamulTabLeft">
                                    <button type="button" class="o-mm-link" id="o-liked-link"
                                            th:onclick="|location.href='@{/member/liked}'|">관심매물</button> |
                                    <button type="button" class="o-mm-link" id="o-recent-link"
                                            th:onclick="|location.href='@{/member/qRecent}'|">최근본매물</button>
                                </div>
                                <div>
                                    <button type="button" class="o-mm-link" id="o-allView"
                                            th:onclick="|location.href='@{/member/liked}'|">전체보기</button>
                                </div>
                            </div>
                        </div>

                        <!-- 데이터 연동 작업 필요 지금은 하드코딩 우진인한테 작업한거 물어보고 됐으면 그거 가져다가 써도 될듯!!
                         컨트롤러에서 작업이 필요할 수 있는데 나도 컨트롤러 쓰고 있다보니 디자인 우선 작업해주고
                         하다가 컨트롤러 작업 필요하면 말해조!! 디자인만 하고 다시 나한테 넘겨줘도 됩니당
                          css는 myPage.css 랑 myCommon.css 두개 고
                          myPageMain.js 만들어놨으니 자바스크립트는 여기서 만들면 돼!!-->
                        <!-- 매물 영역-->
                        <div class="z-bottom-container">
                            <div class="z-bottom-wrap">
                                <!-- 매물 1개 -->
                                <div class="z-content-wrap">
                                    <div class="z-img-wrap">
                                        <img src="/img/details/t.jpeg" alt="이미지" class="z-img">
                                    </div>
                                    <div class="z-text-wrap">
                                        <div class="z-bottom-text">
                                            <div class="z-text-title">매매 100억</div>
                                            <div class="z-text-contents">
                                                <div class="z-text-content1">
                                                    <span class="z-t">상가주택</span>
                                                    <span class="z-text-content2">서초동 상가주택</span>
                                                </div>
                                                <div class="z-text-content1">
                                                    851.7/851.71㎡
                                                    <span class="z-text-content2">지하-/지상2층</span>
                                                </div>
                                                <div class="z-text-content3">서초역 역세권 업무주거배후세대 풍부</div>
                                            </div>
                                            <!-- z-text-contents 끝 -->
                                            <div class="z-text-hash-wrap">
                                                <!-- 이건 마지막값 한개만 가져오는 것. -->
                                                <button class="z-text-hash">#역세권</button>
                                            </div>
                                            <!-- z-text-hash-wrap 끝 -->
                                        </div>
                                        <!-- z-bottom-text 끝 -->
                                    </div>
                                    <!-- z-text-wrap 끝 -->
                                </div>

                                <!-- 매물 1개 -->
                                <div class="z-content-wrap">
                                    <div class="z-img-wrap">
                                        <img src="/img/details/t.jpeg" alt="이미지" class="z-img">
                                    </div>
                                    <div class="z-text-wrap">
                                        <div class="z-bottom-text">
                                            <div class="z-text-title">매매 100억</div>
                                            <div class="z-text-contents">
                                                <div class="z-text-content1">
                                                    <span class="z-t">상가주택</span>
                                                    <span class="z-text-content2">서초동 상가주택</span>
                                                </div>
                                                <div class="z-text-content1">
                                                    851.7/851.71㎡
                                                    <span class="z-text-content2">지하-/지상2층</span>
                                                </div>
                                                <div class="z-text-content3">서초역 역세권 업무주거배후세대 풍부</div>
                                            </div>
                                            <!-- z-text-contents 끝 -->
                                            <div class="z-text-hash-wrap">
                                                <!-- 이건 마지막값 한개만 가져오는 것. -->
                                                <button class="z-text-hash">#역세권</button>
                                            </div>
                                            <!-- z-text-hash-wrap 끝 -->
                                        </div>
                                        <!-- z-bottom-text 끝 -->
                                    </div>
                                    <!-- z-text-wrap 끝 -->
                                </div>

                                <!-- 매물 1개 -->
                                <div class="z-content-wrap">
                                    <div class="z-img-wrap">
                                        <img src="/img/details/t.jpeg" alt="이미지" class="z-img">
                                    </div>
                                    <div class="z-text-wrap">
                                        <div class="z-bottom-text">
                                            <div class="z-text-title">매매 100억</div>
                                            <div class="z-text-contents">
                                                <div class="z-text-content1">
                                                    <span class="z-t">상가주택</span>
                                                    <span class="z-text-content2">서초동 상가주택</span>
                                                </div>
                                                <div class="z-text-content1">
                                                    851.7/851.71㎡
                                                    <span class="z-text-content2">지하-/지상2층</span>
                                                </div>
                                                <div class="z-text-content3">서초역 역세권 업무주거배후세대 풍부</div>
                                            </div>
                                            <!-- z-text-contents 끝 -->
                                            <div class="z-text-hash-wrap">
                                                <!-- 이건 마지막값 한개만 가져오는 것. -->
                                                <button class="z-text-hash">#역세권</button>
                                            </div>
                                            <!-- z-text-hash-wrap 끝 -->
                                        </div>
                                        <!-- z-bottom-text 끝 -->
                                    </div>
                                    <!-- z-text-wrap 끝 -->
                                </div>

                                <!-- 매물 1개 -->
                                <div class="z-content-wrap">
                                    <div class="z-img-wrap">
                                        <img src="/img/details/t.jpeg" alt="이미지" class="z-img">
                                    </div>
                                    <div class="z-text-wrap">
                                        <div class="z-bottom-text">
                                            <div class="z-text-title">매매 100억</div>
                                            <div class="z-text-contents">
                                                <div class="z-text-content1">
                                                    <span class="z-t">상가주택</span>
                                                    <span class="z-text-content2">서초동 상가주택</span>
                                                </div>
                                                <div class="z-text-content1">
                                                    851.7/851.71㎡
                                                    <span class="z-text-content2">지하-/지상2층</span>
                                                </div>
                                                <div class="z-text-content3">서초역 역세권 업무주거배후세대 풍부</div>
                                            </div>
                                            <!-- z-text-contents 끝 -->
                                            <div class="z-text-hash-wrap">
                                                <!-- 이건 마지막값 한개만 가져오는 것. -->
                                                <button class="z-text-hash">#역세권</button>
                                            </div>
                                            <!-- z-text-hash-wrap 끝 -->
                                        </div>
                                        <!-- z-bottom-text 끝 -->
                                    </div>
                                    <!-- z-text-wrap 끝 -->
                                </div>

                                <!-- 매물 1개 -->
                                <div class="z-content-wrap">
                                    <div class="z-img-wrap">
                                        <img src="/img/details/t.jpeg" alt="이미지" class="z-img">
                                    </div>
                                    <div class="z-text-wrap">
                                        <div class="z-bottom-text">
                                            <div class="z-text-title">매매 100억</div>
                                            <div class="z-text-contents">
                                                <div class="z-text-content1">
                                                    <span class="z-t">상가주택</span>
                                                    <span class="z-text-content2">서초동 상가주택</span>
                                                </div>
                                                <div class="z-text-content1">
                                                    851.7/851.71㎡
                                                    <span class="z-text-content2">지하-/지상2층</span>
                                                </div>
                                                <div class="z-text-content3">서초역 역세권 업무주거배후세대 풍부</div>
                                            </div>
                                            <!-- z-text-contents 끝 -->
                                            <div class="z-text-hash-wrap">
                                                <!-- 이건 마지막값 한개만 가져오는 것. -->
                                                <button class="z-text-hash">#역세권</button>
                                            </div>
                                            <!-- z-text-hash-wrap 끝 -->
                                        </div>
                                        <!-- z-bottom-text 끝 -->
                                    </div>
                                    <!-- z-text-wrap 끝 -->
                                </div>

                                <!-- 매물 1개 -->
                                <div class="z-content-wrap">
                                    <div class="z-img-wrap">
                                        <img src="/img/details/t.jpeg" alt="이미지" class="z-img">
                                    </div>
                                    <div class="z-text-wrap">
                                        <div class="z-bottom-text">
                                            <div class="z-text-title">매매 100억</div>
                                            <div class="z-text-contents">
                                                <div class="z-text-content1">
                                                    <span class="z-t">상가주택</span>
                                                    <span class="z-text-content2">서초동 상가주택</span>
                                                </div>
                                                <div class="z-text-content1">
                                                    851.7/851.71㎡
                                                    <span class="z-text-content2">지하-/지상2층</span>
                                                </div>
                                                <div class="z-text-content3">서초역 역세권 업무주거배후세대 풍부</div>
                                            </div>
                                            <!-- z-text-contents 끝 -->
                                            <div class="z-text-hash-wrap">
                                                <!-- 이건 마지막값 한개만 가져오는 것. -->
                                                <button class="z-text-hash">#역세권</button>
                                            </div>
                                            <!-- z-text-hash-wrap 끝 -->
                                        </div>
                                        <!-- z-bottom-text 끝 -->
                                    </div>
                                    <!-- z-text-wrap 끝 -->
                                </div>

                                <!-- 매물 1개 -->
                                <div class="z-content-wrap">
                                    <div class="z-img-wrap">
                                        <img src="/img/details/t.jpeg" alt="이미지" class="z-img">
                                    </div>
                                    <div class="z-text-wrap">
                                        <div class="z-bottom-text">
                                            <div class="z-text-title">매매 100억</div>
                                            <div class="z-text-contents">
                                                <div class="z-text-content1">
                                                    <span class="z-t">상가주택</span>
                                                    <span class="z-text-content2">서초동 상가주택</span>
                                                </div>
                                                <div class="z-text-content1">
                                                    851.7/851.71㎡
                                                    <span class="z-text-content2">지하-/지상2층</span>
                                                </div>
                                                <div class="z-text-content3">서초역 역세권 업무주거배후세대 풍부</div>
                                            </div>
                                            <!-- z-text-contents 끝 -->
                                            <div class="z-text-hash-wrap">
                                                <!-- 이건 마지막값 한개만 가져오는 것. -->
                                                <button class="z-text-hash">#역세권</button>
                                            </div>
                                            <!-- z-text-hash-wrap 끝 -->
                                        </div>
                                        <!-- z-bottom-text 끝 -->
                                    </div>
                                    <!-- z-text-wrap 끝 -->
                                </div>

                                <!-- 매물 1개 -->
                                <div class="z-content-wrap">
                                    <div class="z-img-wrap">
                                        <img src="/img/details/t.jpeg" alt="이미지" class="z-img">
                                    </div>
                                    <div class="z-text-wrap">
                                        <div class="z-bottom-text">
                                            <div class="z-text-title">매매 100억</div>
                                            <div class="z-text-contents">
                                                <div class="z-text-content1">
                                                    <span class="z-t">상가주택</span>
                                                    <span class="z-text-content2">서초동 상가주택</span>
                                                </div>
                                                <div class="z-text-content1">
                                                    851.7/851.71㎡
                                                    <span class="z-text-content2">지하-/지상2층</span>
                                                </div>
                                                <div class="z-text-content3">서초역 역세권 업무주거배후세대 풍부</div>
                                            </div>
                                            <!-- z-text-contents 끝 -->
                                            <div class="z-text-hash-wrap">
                                                <!-- 이건 마지막값 한개만 가져오는 것. -->
                                                <button class="z-text-hash">#역세권</button>
                                            </div>
                                            <!-- z-text-hash-wrap 끝 -->
                                        </div>
                                        <!-- z-bottom-text 끝 -->
                                    </div>
                                    <!-- z-text-wrap 끝 -->
                                </div>
                                <!-- z-content-wrap 끝 -->


                            </div>
                            <!-- z-bottom-wrap 끝 -->
                        </div>
                        <!-- z-bottom-container 끝 -->
                    </div>
                </div>

            </div>
        </div>
    </th:block>
</th:block>
<!-- 부트스트랩 script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>