<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/include_footer_layout}">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/css/member/myPage.css}">
    <link rel="stylesheet" th:href="@{/css/member/myCommon.css}">
    <!-- 부트스트랩 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body layout:fragment="content">
<!-- 세션 객체 지정 및 로그인 여부 확인 -->
<th:block th:object="${loginMember}">
    <th:block th:if="${loginMember != null}">
        <div id="oContainer">
            <div id="content">
                <!-- 마이페이지 네비게이션바 -->
                <div class="o-lnb">
                    <div class="o-wrapper">
                        <ul class="o-lnb-list">
                            <li class="o-lnb-item"><a th:href="@{/member/qMyPage}" style="color:#26ABED;">내정보</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/qMyInfoUpdate}">내정보수정</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/qManagement}">매물관리</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/liked}">관심매물</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/qRecent}">최근본매물</a></li>
                            <li class="o-lnb-item"><a th:href="@{/member/qMyQnA}">1:1문의내역</a></li>
                        </ul>
                    </div>
                </div>
                <div class="oLayout">
                    <div class="oInfo-top">
                        <div class="oInfo-top-wrapper">
                            <div class="oInfo-left">
                                <div class="oThumbnailImg"> <!-- sns로그인 시 model에서 프로필링크 가져옴, 없으면 default img -->
                                    <img class="myImg" th:if="${thumbnail_image!=null}" th:src="${thumbnail_image}" alt="썸네일이미지">
                                    <img class="myImg" th:if="${thumbnail_image==null}" th:src="@{/img/defaultProfile.jpg}" alt="썸네일이미지">
                                </div>
                                <div class="oInfoMember">
                                    <div class="oInfoMemberContain">
                                        <input type="hidden" id="id" name="id" th:value="*{id}" />
                                        <span th:text="*{name}" id="oInfoMemberName"></span>님<br/>
                                        <span th:text="${root}" id="oInfoMemberRoot"></span>
                                    </div>
                                    <span th:text="*{email}" id="oInfoMemberEmail"></span>
                                </div>
                            </div>
                            <div class="oInfo-right">
                                <div class="oMaemulCnt-inner">
                                    <div class="oMaemulCnt">
                                        <a th:href="@{/member/liked}" th:text="${likedCnt + '건'}"></a>
                                        <span>관심매물</span>
                                    </div>
                                    <div class="oMaemulCnt">
                                        <a th:href="@{/member/qRecent}" >몇건</a>
                                        <span>최근 본 매물</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="oMeamulContainer">
                        <div class="oMaemul-c-inner">
                            <div class="oMeamulTitleContainer">
                                <div class="oMeamulTabLeft">
                                    <button type="button" class="o-mm-link" id="o-liked-link"
                                            th:onclick="|location.href='@{/member/liked}'|">관심매물</button> |
                                    <button type="button" class="o-mm-link" id="o-recent-link"
                                            th:onclick="|location.href='@{/member/qRecent}'|">최근본매물</button>
                                </div>
                                <div>
                                    <button type="button" class="o-mm-link" id="o-allView"
                                            th:onclick="|location.href='@{/member/liked}'|">전체보기</button>
                                </div>
                            </div>
                        </div>

                        <div class="z-bottom-container">
                            <div class="z-bottom-wrap">
                                <!-- 매물 시작 -->
                                <a th:each="mmList : ${mmpList}" th:href="@{/details/{id}(id=${mmList.id})}">
                                    <div class="s-mamulbox">
                                        <div class="s-mamul-img">
                                            <img src="/img/details/apt.jpeg" alt="이미지">
                                        </div>
                                        <div class="s-mamul-text">
                                            <div class="s-mamul-text-wrap">
                                                <span class="s-mamul-text-title" th:text="${mmList.tradeType}"></span>
                                                <div class="s-mamul-text-1">
                                                    <p th:text="${mmList.buildingUsage}">용도</p>
                                                    <p th:text="${mmList.address}">주소</p>
                                                </div>
                                                <div class="s-mamul-text-2">
                                                    <p th:text="${mmList.privateArea} + '/' + ${mmList.supplyArea} + '㎡'">면적</p>
                                                    <p th:text="${mmList.floorNumber} + '층/' + ${mmList.totalFloors} + '층'">층수</p>
                                                </div>
                                                <div>
                                                    <p>설명</p>
                                                </div>
                                            </div>
                                            <div class="s-mamul-tag">
                                                <span>#반려동물</span>
                                                <span>#역세권</span>
                                                <span>#주변환경 우수</span>
                                            </div>
                                        </div>
                                    </div>

                                </a>
                                <!-- 매물 끝 -->

<!--                                <div class="s-mamulbox">-->
<!--                                    <div class="s-mamul-img">-->
<!--                                        <img src="/img/details/apt.jpeg" alt="이미지">-->
<!--                                    </div>-->
<!--                                    <div class="s-mamul-text">-->
<!--                                        <div class="s-mamul-text-wrap">-->
<!--                                            <span class="s-mamul-text-title">전세 1억 6,500만</span>-->
<!--                                            <div class="s-mamul-text-1">-->
<!--                                                <p>다세대(빌라/연립)</p>-->
<!--                                                <p>ㆍ서초동 상가주택</p>-->
<!--                                            </div>-->
<!--                                            <div class="s-mamul-text-2">-->
<!--                                                <p>851.7/851.71㎡</p>-->
<!--                                                <p>ㆍ지하-/지상2층</p>-->
<!--                                            </div>-->
<!--                                            <div>-->
<!--                                                <p>서초역 역세권 업무주거배후세대 풍부ssssssssssssssssssssssssss</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="s-mamul-tag">-->
<!--                                            <span>#반려동물</span>-->
<!--                                            <span>#역세권</span>-->
<!--                                            <span>#주변환경 우수</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="s-mamulbox">-->
<!--                                    <div class="s-mamul-img">-->
<!--                                        <img src="/img/details/apt.jpeg" alt="이미지">-->
<!--                                    </div>-->
<!--                                    <div class="s-mamul-text">-->
<!--                                        <div class="s-mamul-text-wrap">-->
<!--                                            <span class="s-mamul-text-title">전세 1억 6,500만</span>-->
<!--                                            <div class="s-mamul-text-1">-->
<!--                                                <p>다세대(빌라/연립)</p>-->
<!--                                                <p>ㆍ서초동 상가주택</p>-->
<!--                                            </div>-->
<!--                                            <div class="s-mamul-text-2">-->
<!--                                                <p>851.7/851.71㎡</p>-->
<!--                                                <p>ㆍ지하-/지상2층</p>-->
<!--                                            </div>-->
<!--                                            <div>-->
<!--                                                <p>서초역 역세권 업무주거배후세대 풍부ssssssssssssssssssssssssss</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="s-mamul-tag">-->
<!--                                            <span>#반려동물</span>-->
<!--                                            <span>#역세권</span>-->
<!--                                            <span>#주변환경 우수</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="s-mamulbox">-->
<!--                                    <div class="s-mamul-img">-->
<!--                                        <img src="/img/details/apt.jpeg" alt="이미지">-->
<!--                                    </div>-->
<!--                                    <div class="s-mamul-text">-->
<!--                                        <div class="s-mamul-text-wrap">-->
<!--                                            <span class="s-mamul-text-title">전세 1억 6,500만</span>-->
<!--                                            <div class="s-mamul-text-1">-->
<!--                                                <p>다세대(빌라/연립)</p>-->
<!--                                                <p>ㆍ서초동 상가주택</p>-->
<!--                                            </div>-->
<!--                                            <div class="s-mamul-text-2">-->
<!--                                                <p>851.7/851.71㎡</p>-->
<!--                                                <p>ㆍ지하-/지상2층</p>-->
<!--                                            </div>-->
<!--                                            <div>-->
<!--                                                <p>서초역 역세권 업무주거배후세대 풍부ssssssssssssssssssssssssss</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="s-mamul-tag">-->
<!--                                            <span>#반려동물</span>-->
<!--                                            <span>#역세권</span>-->
<!--                                            <span>#주변환경 우수</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="s-mamulbox">-->
<!--                                    <div class="s-mamul-img">-->
<!--                                        <img src="/img/details/apt.jpeg" alt="이미지">-->
<!--                                    </div>-->
<!--                                    <div class="s-mamul-text">-->
<!--                                        <div class="s-mamul-text-wrap">-->
<!--                                            <span class="s-mamul-text-title">전세 1억 6,500만</span>-->
<!--                                            <div class="s-mamul-text-1">-->
<!--                                                <p>다세대(빌라/연립)</p>-->
<!--                                                <p>ㆍ서초동 상가주택</p>-->
<!--                                            </div>-->
<!--                                            <div class="s-mamul-text-2">-->
<!--                                                <p>851.7/851.71㎡</p>-->
<!--                                                <p>ㆍ지하-/지상2층</p>-->
<!--                                            </div>-->
<!--                                            <div>-->
<!--                                                <p>서초역 역세권 업무주거배후세대 풍부ssssssssssssssssssssssssss</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="s-mamul-tag">-->
<!--                                            <span>#반려동물</span>-->
<!--                                            <span>#역세권</span>-->
<!--                                            <span>#주변환경 우수</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->


                            </div>
                            <!-- z-bottom-wrap 끝 -->
                        </div>
                        <!-- z-bottom-container 끝 -->
                    </div>
                </div>

            </div>
        </div>
    </th:block>
</th:block>
<!-- 부트스트랩 script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>