<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/include_footer_layout}">
<head>
    <meta charset="UTF-8">
    <title>1:1문의</title>
    <!-- 부트스트랩 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/member/myPage.css}">
    <link rel="stylesheet" th:href="@{/css/member/myQna.css}">
</head>
<body layout:fragment="content">

<th:block th:if="${loginMember != null}">
    <th:block th:object="${loginMember}">
        <!-- 마이페이지 네비게이션 -->
        <div id="o-container">
            <div id="o-content">
                <!-- inner navbar -->
                <div class="o-lnb">
                    <div class="o-wrapper">
                        <ul class="o-lnb-list">
                            <li class="o-lnb-item"><a href="/member/qMyPage">내정보</a></li>
                            <li class="o-lnb-item"><a href="/member/qMyInfoUpdate">내정보수정</a></li>
                            <li class="o-lnb-item"><a href="#">매물관리</a></li>
                            <li class="o-lnb-item"><a href="/member/qInterest">관심매물</a></li>
                            <li class="o-lnb-item"><a href="/member/qRecent">최근본매물</a></li>
                            <li class="o-lnb-item"><a href="/member/qMyQnA" style="color:#26ABED;">1:1문의내역</a></li>
                        </ul>
                    </div>
                </div>
                <div class="o-mid-wrapper">
                    <div class="o-mid-inner mt-5" id="o-tb-wrap">
                        <div id="oPageTitle">
                            <h3 class="h3 fw-bold">1:1 문의내역</h3>
                            <p>고객님께서 문의하신 내역입니다.</p>
                        </div>
                        <div class="oMyQnaTb">
                            <table class="faq-tb">
                                <thead>
                                    <tr>
                                        <th class="b-n">번호</th>
                                        <th class="b-n">분류</th>
                                        <th class="b-t">제목</th>
                                        <th class="b-t">등록일</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- 총 나의 문의 갯수 출력 -->
                                    <p>전체 <span class="myQnaCntAll" th:text="${myQnaCnt}"></span>건</p>
                                    <!-- 본인이 작성한 문의만 표시하는 조건문, 번호는 '플래닛 사이트'도 전체글 기준 번호 보여줌 -->
                                    <tr th:each="myQna : ${myQnaList}" th:if="${myQna.user_email == loginMember.email}">
                                        <td id="num" th:text="${myQna.id}">번호</td>
                                        <td id="category" th:text="${myQna.category}">분류</td>
                                        <td><a th:href="@{/faq/view(id=${myQna.id})}" th:text="${myQna.title}">제목</a></td>
                                        <td><a th:href="@{/faq/view(id=${myQna.id})}" th:text="${#temporals.format(myQna.createdAt, 'yyyy-MM-dd')}">yyyy-MM-dd</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="o-tb-btn">
                            <button class="btn btn-primary" id="myQnaBtn" th:onclick="|location.href='@{/qna}'|">문의하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
<!-- 부트스트랩 script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
