<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body layout:fragment="content">
    <div align="center">
        <h1>회원가입</h1>
        <form action="/qJoinBasic" method="POST">
            <table>
                <tr>
                    <td width="80">
                        <label for="email">이메일</label>
                    </td>
                    <td>
                        <input type="text" id="email" name="email">
                    </td>
                </tr>
                <tr>
                    <td width="80">
                        <label for="name">이름</label>
                    </td>
                    <td>
                        <input type="text" id="name" name="name">
                    </td>
                </tr>
            </table>
            <br/>
            <input type="submit" value="회원가입">
        </form>
    </div>
</body>
</html>
