<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/include_footer_layout}">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <!-- 부트스트랩 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        <!-- * 부트스트랩으로 인한 충돌 / 헤더 위치 조정중..^^하.. * -->
        .n-header-list {
            margin: 16px 0px;
            padding: 0px 0px 0px 40px;
        }
        .form-floating {
            width: 350px;
        }
        .form-check {
            width: 350px;
           <!-- display: flex; justify-content: right;
            부트스트랩 충돌-인라인 태그로-->
        }
        #oInner-container {
            width: 400px;
            height: 700px;
        }
        #oLoginTitle {
            padding: 20px 50px;
            margin: 0px;
        }
    </style>
<!--    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>-->
<!--    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>-->
</head>
<body layout:fragment="content">

    <div class="container mt-5" id="oInner-container" align="center">
<!--            <img src="/images/qLogoForm.png" alt="logoImage" style="margin-bottom: 10px;">-->
<!--            <h1 th:each="meberList : ${members}"></h1>-->
<!--            <h1 th:text="${members.name}"></h1>-->
<!--            <h1 th:text="${members.email}"></h1>-->
        <div id="oLoginTitle">
            <h2 class="h2 fw-bold">로그인</h2>
        </div>
        <span th:if="${userId == null}">    <!-- 로그인 안한 상태 -->
            <form th:action="@{/member/qLoginBasic}" method="POST">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="youemail@email.com" autofocus="autofocus" />
                    <label for="email">이메일 주소</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="pwd" placeholder="Password"/>
                    <label for="password">비밀번호(8자리 이상)</label>
                </div>
                <div id="oLoginBtn-container">
                    <input type="submit" class="btn btn-dark mb-3 mt-3" value="로그인" style="width:46%;"/>
                    <button type="button" class="btn btn-dark mb-3 mt-3" onclick="location.href='/member/qJoinForm'" style="width:46%;">회원가입</button>
                </div>
                <!-- 아이디 저장 체크박스 -->
                <div class="form-check" style="display: flex; justify-content:space-between; font-size:13px;">
                    <div>
                      <input class="form-check-input" type="checkbox"
                             value="" id="oSaveId" name="oSaveId" style="margin-right:5px;">
                      <label class="form-check-label ml-3" for="oSaveId">
                        아이디 저장
                      </label>
                    </div>
                    <div><a th:href="@{#}" style="color:#212529;">이메일/비밀번호 찾기</a></div>
                </div>
            </form>

            <div class="container" id="oLoginSns" style="mt-5 mb-5">
                <hr style="width: 380px;"/>
                <p style="font-weight: bold; margin-bottom: 20px;">Login with SNS</p>
                <div class="oLoginSnsBtn-container"
                     style="display: flex; justify-content: space-between;">
                    <!-- 카카오 로그인 (공백 넣으면 로그인 안돼서 한줄로)-->
                    <a th:href="@{https://kauth.kakao.com/oauth/authorize?client_id=fae91fecfb7dbda2a80ae22881709a28&redirect_uri=http://localhost:8081/member/qLogin&response_type=code}">
                        <img src="/images/kakao_login_medium_narrow.png" alt="kakaoLogin" height="44" />
                    </a>
                <!--</div>
                <div class="oLoginSnsBtn-container">-->
                    <!-- 네이버 로그인 -->
                    <a th:href="@{/member/qLoginNaver}">
                        <img src="/images/btnG_완성형.png" alt="naverLogin" height="44" />  <!-- 카카오 로그인과 height만 맞춤 -->
                    </a>
                </div>
            </div>
        </span>

        <!-- 로그인 성공 시 -->
        <span th:if="${userId != null}">
            <form name="logout" th:action="@{/member/qLogout}">
                <span>로그인 확인용 영역<</span><br/>
                <a th:href="@{/member/qMyPage}">마이페이지 훔쳐보기</a><br/>
                <span th:text="${userName}"></span>님 환영합니다.<br/>    <!-- nickname + 인사말 출력 -->
                (<span th:text="${userId}"></span>)<br/>                 <!-- email -->
                <input type="submit" value="로그아웃" />                  <!-- 로그아웃 버튼으로 전환 -->
            </form>
        </span>
    </div>

   <!-- <script type="text/javascript">
        var naver_id_login = new naver_id_login("AjkHs22eU99SBpBCMMDt", "http://localhost:8081/naverCallback");
        var state = naver_id_login.getUniqState();
        naver_id_login.setButton("white", 2,40);
        naver_id_login.setDomain("http://localhost:8081/naverlogin");
        naver_id_login.setState(state);
        naver_id_login.setPopup();
        naver_id_login.init_naver_id_login();
    </script>-->

    <!-- 부트스트랩 script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>


<!--
    - kakao REST API 키
        fae91fecfb7dbda2a80ae22881709a28 server port:8082
    - naver Client ID
        KxGhFHZ7Xp74X_5IZ23h

    - CSS -> footer 하단에 고정 참고 link
        https://jineecode.tistory.com/103
-->