<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/include_footer_layout}">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/css/CC/noticelist.css}">
    <link rel="stylesheet" th:href="@{/css/CC/CCBar.css}">
    <link rel="stylesheet" th:href="@{/css/member/myPage.css}">
    <!-- 부트스트랩 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body layout:fragment="content">
<span th:if="${userEmail != null}">
    <!-- 마이페이지 네비게이션 -->
    <div id="oContainer">
        <div id="content">
            <div class="o-lnb">
                <div class="o-wrapper">
                    <ul class="o-lnb-list">
                        <li class="o-lnb-item"><a href="/member/qMyPage" style="color:#26ABED;">내정보</a></li>
                        <li class="o-lnb-item"><a href="/member/qMyInfoUpdate">내정보수정</a></li>
                        <li class="o-lnb-item"><a href="#">매물관리</a></li>
                        <li class="o-lnb-item"><a href="/member/qInterestMaemul">관심매물</a></li>
                        <li class="o-lnb-item"><a href="/member/qRecentMaemul">최근본매물</a></li>
                        <li class="o-lnb-item"><a href="#">1:1문의내역</a></li>
                    </ul>
                </div>
            </div>
            <div class="layout">
                <div class="oInfo-top">
                    <div class="oInfo-top-wrapper">
                        <div class="oInfo-left" style="display: block; font-weight:bold; font-size:20px;" >
                            <input type="hidden" id="idx" name="idx" th:value="${idx}" />
                            <span th:text="${userName}" ></span>님<br/>
                            <span th:text="${userEmail}" style="font-weight:bold; font-size:13px"></span>
                        </div>
                        <div class="oInfo-right">
                            <div>
                                <div class="oMaemulCnt" style="background-color:white; border-left: none; float:right; width:200px;">
                                    <a href="#">1건</a>
                                    <span>관심매물</span>
                                </div>
                                <div class="oMaemulCnt" style="background-color:white; float:right; width:200px;">
                                    <a href="#">2건</a>
                                    <span>최근 본 매물</span>
                                </div>
                                <div style="float:right; width:20%;">
                                    <a th:href="@{/member/qMyInfoUpdate}">내 정보 수정</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 관심매물 / 최근본매물 -->
                <div class="oMyInfo-bottom">
                    <div class="menubar">
    <!--                    <button type="button" class="menu-c" id="oInterestMaemul" onclick="location.href = '/notice/list'" >관심매물</button>-->
    <!--                    <button type="button" class="menu" id="oRecentMaemul" onclick="location.href = '/guide'" >최근본매물</button>-->
                        <button type="button" class="oMaemulLink" id="oInterestMaemul" onclick="location.href = '#'" >관심매물</button>
                        <button type="button" class="oMaemulLink" id="oRecentMaemul" onclick="location.href = '#" >최근본매물</button>
                    </div>
                    <table style="margin-top: 15px; align=center">
                        <tr>
                            <th>거래종류</th>
                            <th>매물종류</th>
                            <th>소재지 / 상세주소 매물설명</th>
                            <th>면적</th>
                            <th>가격</th>
                            <th>삭제</th>
                        </tr>
                        <tr>
                            <td colspan="6">조회된 데이터가 없습니다.</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</span>
    <!-- 부트스트랩 script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</body>
</html>

<!-- merge 후 push 안한거 확인 -->