<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/include_footer_layout}">
<head>
    <meta charset="UTF-8">
    <title>공지글 보기</title>
    <link rel="stylesheet" th:href="@{/css/CC/view.css}">
    <link rel="stylesheet" th:href="@{/css/CC/CCBar.css}">
</head>
<body layout:fragment="content">

<div class = "layout">

    <h1>고객센터</h1>

    <div class="menubar">
        <button type="button" class="menu" id="faq" onclick="location.href = '/faq/list'" >자주 묻는 질문</button>
        <button type="button" class="menu" id="qna" onclick="location.href = '/qna'" >1:1 문의</button>
        <button type="button" class="menu-c" id="notice" onclick="location.href = '/notice/list'" >공지사항</button>
        <button type="button" class="menu" id="guide" onclick="location.href = '/guide'" >서비스 이용안내</button>
    </div>

    <div class="table-box">
    <table>
        <tr>
            <th class="b-n">[공지]</th>
            <th class="b-t"><p th:text = "${article.title}">제목</p></th>
            <th class="b-d"><span th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd')}"></span></th>
        </tr>
        <tr>
            <td colspan="3" class="content">
                <p th:text = "${article.content}">내용</p>
            </td>
        </tr>
    </table>

        <div id="pre-next">
            <a th:if="${prevArticle != null}" th:href="@{/notice/view?id={id}(id=${prevArticle.id})}">
                <button class="pre-next">이전글</button>
            </a>
            <a th:if="${nextArticle != null}" th:href="@{/notice/view?id={id}(id=${nextArticle.id})}">
                <button class="pre-next">다음글</button>
            </a>
        </div>

    <div class="list-btn-outer">
        <button class="list-btn"  onclick="location.href = '/notice/list'">목록으로</button>
    </div>
    </div>

</div>

</body>
</html>