<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>매물 등록</title>
    <link rel="stylesheet" href="/static/css/maemulReg.css">
</head>

<style>
    textarea {
    width : 100%;
    height : 280px;
    margin: 0 auto;
    margin-top : 20px;
    box-sizing : border-box;
    }
</style>
<body>

<div style="text-align : center;">
    <hr>
    <img src="image/약관동의.jpg" style="width:100%; height:100%;" >
    <hr>
</div>

<textarea>
    아파트사조는 이용자들의 개인정보보호를 소중히 여기며 통신비밀보호법, 전기통신사업법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 정보통신서비스 제공자가 준수하여야 할 관련 법령상의 개인정보 보호 규정을 준수하며, 관련 법령에 의거한 개인정보취급방침을 정하여 이용자 권익 보호에 최선을 다하고 있습니다.

아파트사조의 개인정보취급방침은 정부의 법률 및 지침 변경이나 시설의 내부 방침 변경등의 사유로 수시로 변경될 수 있으며 이에 따른 개인정보취급방침의 지속적인 개선을 위하여 필요한 절차를 정하고 있습니다. 개인정보취급방침을 개정하는 경우 변경사항을 개정일자와 함께 홈페이지에 게시하고 있으므로 이용자들께서는 수시로 방문하여 확인해 보시기 바랍니다.

■ 개인정보 수집항목 및 수집방법

▣ 수집항목 : 전주상가사랑은 이용자의 기본적인 서비스 제공을 위한 정보를 아래와 같이 수집하고 있습니다.

-후원신청 : 이름, 주소, 생년월일, 연락처, 주소, 은행명, 계좌번호, 예금주, 예금주 생년월일, 이메일 등

-자원봉사신청 : 이름, 성별, 주소, 생년월일, 전화번호, 이메일주소, 직장 및 학교명

▣ 수집방법
- 홈페이지 로그인
- 서면양식
- 전화/팩스
- 정보수정
- 이용문의
- 서비스 이용

■ 개인정보의 수집 및 이용목적
 전주상가사랑은 이용자가 제공한 모든 정보는 아래 목적 외에는 사용되지 않으며 이용 목적이 변경될 시에는 사전에 동의를 구할 것입니다.
- 컨텐츠 제공, 특정 맞춤 서비스 제공, 물품 배송 또는 청구서 등 발송, 본인인증,
- 회원관리(후원자 및 자원봉사)
- 회원제 서비스 이용에 따른 본인확인, 개인 식별, 가입의사 확인, 민원처리, 고지사항 전달
- 마케팅 및 광고에 활용
- 신규 서비스 개발 및 맞춤 서비스 제공, 이벤트 및 광고성 정보 제공 및 참여기회 제공, 접속빈도 파악, 회원의 서비스 이용에 대한 통계
- 후원금 결제 및 후원자 서비스 제공에 관한 계약
- 금융거래 본인인증, 후원관련 안내, 컨텐츠 제공

■ 개인정보의 보유 및 이용기간
 이용자의 개인정보는 이용목적이 달성되면 지체 없이 파기하는 것을 원칙으로 하나 다음의 정보에 대해서는 아래에 명시한 기간 동안 보존합니다.

▣ 기관 내부 방침에 의한 정보보유 사유
- 보존항목 : 이름, 주민등록번호, 후원관련 정보
- 보존근거 : 후원자일 경우 서비스 이용의 혼선방지 (단, 본인에게 후원내역이 더 이상 필요 없다는 동의 받았을 때는 지체 없이 폐기)

▣ 관계법령에 의한 정보보유 사유
- 보존항목 : 이름, 주민등록번호, 신용카드 정보, 은행계좌 정보, 서비스 이용기록, 접속IP정보, 결제기록(탈퇴 시 가지고 있는 것들)
- 보존근거 : 전자상거래 등에서의 소비자보호에 관한 법률
- 보존기간 : 5년

▣ 계약 또는 청약철회 등에 관한 기록 : 5년(전자상거래 등에서의 소비자보호에 관한 법률)
▣ 대금 결재 및 재화 등의 공급에 관한 기록 : 5년(전자상거래 등에서의 소비자보호에 관한 법률)
▣ 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년(전자상거래 등에서의 소비자보호에 관한 법률)
▣ 본인확인에 관한 기록 : 6개월(정보통신망 이용촉진 및 정보보호 등에 관한 법률)
▣ 방문에 관한 기록 : 3개월(통신비밀보호법)

■ 개인정보의 파기절차 및 방법
 전주상가사랑은 이용자의 개인정보를 아래의 절차와 방법에 의거하여 이용목적이 달성되면 지체 없이 파기합니다.

▣ 파기절차
 이용자가 회원가입(후원-자원봉사)등을 위해 입력한 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기되어 지며 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.

▣ 파기방법 : 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.

■ 개인정보 공유 및 제공
 전주상가사랑은 이용자들의 개인 정보를 개인정보의 수집 및 이용목적에서 고지한 범위 내에서 사용하며 이용자의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 아래의 경우를 제외하고는 개인정보를 외부에 공개하지 않습니다.

▣ 이용자가 사전에 공개에 동의한 경우
- 제공대상 : 국세청
- 제공하는 개인정보항목 : 후원자명, 주민등록번호, 후원일자, 후원금
- 제공정보의 이용 목적 : 연말정산이용
- 제공대상 : 금융결재원
- 제공하는 개인정보항목 : 후원자번호, 후원자명, 후원금, 연락처, 은행계좌번호
- 제공정보의 이용 목적 : CMS의뢰용
- 제공정보의 보유 및 이용기간 : 우편발송 직후 폐기, 제공일로부터 약 2~3일
- 자원봉사 VMS
- 제공하는 개인정보항목 : 이름, 주민등록번호, 봉사내역
- 제공정보의 이용목적 : 요청한 자원봉사자 한해서 발급

■ 수집한 개인정보의 위탁
 전주상가사랑은 수집된 개인정보의 취급 및 관리 등의 업무를 자체적으로 수행함을 원칙으로 하나 필요시 업무의 일부 또는 전부를 회사가 선정한 외부업체에 위탁할 수 있습니다. 업체를 선정하거나 업체가 변경되었을 경우, 회사는 변경된 업체 명을 공지사항 및 개인정보취급방침 화면을 통해 고지하도록 하겠습니다.

■ 이용자 및 법정대리인의 권리와 그 행사방법
 이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를 조회, 수정하거나 가입해지를 요청할 수도 있습니다. 개인정보 조회, 수정 및 가입해지를 위해서 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하도록 하겠습니다.
이용자가 개인정보의 오류에 대한 정정을 요청하신 경우 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않을 것이며 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.
이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인 정보는 개인정보의 보유 및 이용기간에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.

■ 개인정보의 기술적, 관리적 보호 대책
 전주상가사랑은 이용자의 개인정보를 취급함에 있어 개인정보의 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안정성 확보를 위하여 다음과 같은 기술적, 관리적 대책을 강구하고 있습니다.

▣ 비밀정보 암호화
 이용자의 비밀번호는 암호화되어 저장 및 관리되고 있어 본인만이 알고 있으며 개인정보의 확인 및 변경 또한 본인에 의해서만 가능합니다. 또한 전주상가사랑 는(은) 해킹이나 컴퓨터 바이러스 등에 의해 이용자의 개인정보가 유출되거나 훼손되는 것을 막기 위해 최선을 다하고 있습니다.

▣ 개인정보 암호화
 개인정보는 안전한 알고리즘으로 암호화하여 저장하여, 안전한 내부시스템으로 이전하여 관리합니다.
▣ 개인 아이디와 비밀번호 관리
 원칙적으로 개인의 ID와 비밀번호는 이용자 자신만이 사용하도록 되어 있으므로 이용자의 개인적인 부주의로 ID, 비밀번호, 주민등록번호 등의 개인정보가 유출되어 발생한 문제와 기본적인 인터넷의 위험성 때문에 일어나는 일들에 대해 대한사회복지회에서 책임지지 않습니다. 따라서, 비밀번호를 자주 변경하여 공공장소에서의 PC사용으로 인해 개인정보가 유출되지 않도록 각별한 주의를 기울여 주시기 바랍니다.
▣ 개인정보에 관한 민원서비스
 전주상가사랑은 개인정보관리책임자를 지정해 두어 이용자가 서비스를 이용하면서 발생하는 모든 개인정보보호 관련 민원을 제기했을 시 민원을 신속하고 정확하게 처리해 드릴 것입니다.

■ 홈페이지개인정보관련문의
 업체명: 전주상가사랑 , 대표: OOO, 대표번호: xxx-xxxx-xxxx

기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.
- 개인분쟁조정위원회 (국번없이) 118
- 정보보호마크인증위원회 (02-580-0533~4)
- 대검찰청 인터넷범죄수사센터 (02-3480-3600)
- 경찰청 사이버테러대응센터 (02-392-0330)
</textarea>

<form action=" ",method = "post">
    <div>
        <label>
            <input type="checkbox" name="agreement" />
            <span>개인정보 수집 및 이용에 동의합니다.</span>
        </label>
    </div>
</form>

<div class="pre">
    <div class="predetails">
        <ul>
            <li><a href="agree.html">이전</a></li>
        </ul>
    </div>
</div>
<div class="next">
    <div class="nextdetails">
        <ul>
            <li><a href="maemulInfo.html">다음</a></li>
        </ul>
    </div>
</div>
</body>
</html>