<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/no_footer_layout}">
<head>
    <meta charset="UTF-8">
    <title>매물 정보</title>
    <link rel="stylesheet" href="/static/css/maemulReg.css">

    <!--부트스트랩-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script defer th:src="@{/js/maemulReg/comma.js}" type="text/javascript"></script>
    <script src="/static/js/maemulReg/comma.js"></script>s
    <style>


        .btn-group button {
        border: 1px solid #26A9E0;
        padding: 10px 100px;
        cursor: pointer;
        float: left;
    }

        .btn-group:after {
        content: "";
        clear: both;
        display: table;
        }

        .btn-group button:not(:last-child) {
        border-right: none;
        }

        .btn-group button:hover {
         background-color: #26A9E0;
        }

        .prenext{
        margin-top:10%;
        }

        .prev{
         float: left;
        }

        .next{
        float: right;
        }

        .number{
        color: #26A9E0
        }



    </style>

</head>


<body layout:fragment="content">
<div style="text-align : center;">
    <img src="/static//img/maemulReg/maemulinfo.jpg" style="width:100%; height:100%;">
</div>

<div class="layout">

<h3 class="category"><b class="number">01 </b>주소 정보</h3><br>

    <table border="1">
        <tr >
            <th>도로명주소</th>
            <td colspan="3"><input type="text"><input type="button" value="내위치"></td>
        </tr>
        <tr>
            <th>단지명</th>
            <td colspan="3"><input type="text"></td>
        </tr>
        <tr>
            <th>해당 동 </th>
            <td><input type="text" >동</td>
            <th>해당 호수 </th>
            <td><input type="text" >호</td>
        </tr>
    </table>
<hr/>

<h3 class="category"><b class="number">02 </b>건물 정보</h3><br>
    <b>건축물 용도</b><br>
    <br>
    <div class="btn-group">
        <button>거주용</button>
        <button>업무용</button>
        <button>거주/업무용</button>
    </div>
    <table border="1">
        <tr>
            <th>방 수</th>
            <td><input type="text">개</td>
            <th>욕실 수</th>
            <td><input type="text">개</td>
        </tr>
        <tr>
            <th>해당 층</th>
            <td><input type="text">층</td>
            <th>건물 층</th>
            <td><input type="text">층</td>
        </tr>
        <tr>
            <th>전용 면적</th>
            <td><input type="text">m²</td>
            <th>공급 면적</th>
            <td><input type="text">m²</td>
        </tr>
        <tr>
            <th>방향</th>
            <td colspan="3">
                <select name="direction">
                    <option value="none">=== 선택 ===</option>
                    <option value="동향">동향</option>
                    <option value="서향">서향</option>
                    <option value="남향">남향</option>
                    <option value="북향">북향</option>
                    <option value="남동향">남동향</option>
                    <option value="남서향">남서향</option>
                    <option value="북동향">북동향</option>
                    <option value="북서향">북서향</option>
                    <option value="확인필요">확인필요</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>난방 종류</th>
            <td colspan="3">
                <select name="direction">
                    <option value="none">=== 선택 ===</option>
                    <option value="도시가스">도시가스</option>
                    <option value="심야난방">심야난방</option>
                    <option value="연탄">연탄</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>엘리베이터</th>
            <td colspan="3">
                <input type="radio" name="chk_info" value="">유
                <input type="radio" name="chk_info" value="">무
            </td>
        </tr>
        <tr>
            <th>주차가능여부</th>
            <td>
                <input type="radio" name="chk_info" value="">가능
                <input type="radio" name="chk_info" value="">불가능
            </td>
            <th>총 주차대수</th>
            <td><input type="text">대</td>
        </tr>
        <tr>
            <th>단기임대</th>
            <td colspan="3">
                <input type="radio" name="chk_info" value="">가능
                <input type="radio" name="chk_info" value="">불가능
            </td>
        </tr>
        <tr>
            <th>입주가능일</th>
            <td colspan="3">
                <input type="date"
                       id="comedate"
                       max="2030-12-31"
                       min="2023-01-01"
                       value="2023-09-13">
        </tr>
        <tr>
            <th>융자금 여부</th>
            <td colspan="3"><input name="mypay" type="text" onchange="getNumber(this);" onkeyup="getNumber(this);" style="text-align:right;">원</td>
        </tr>
    </table>

<hr/>

<h3 class="category"><b class="number">03 </b>가격정보</h3><br>
    <div class="btn-group">
        <button>월세</button>
        <button>전세</button>
        <button>매매</button>
    </div>
    <table border="1">
        <tr>
            <th colspan="6">월세</th>
        </tr>
        <tr>
            <th>희망 보증금</th>
            <td><input name="mypay" type="text" onchange="getNumber(this);" onkeyup="getNumber(this);" style="text-align:right;">원</td>
            <th>희망 월세</th>
            <td><input name="mypay" type="text" onchange="getNumber(this);" onkeyup="getNumber(this);" style="text-align:right;">원</td>
            <th>관리비</th>
            <td><input name="mypay" type="text" onchange="getNumber(this);" onkeyup="getNumber(this);" style="text-align:right;">원</td>
        </tr>

        <tr>
            <th colspan="6">전세</th>
        </tr>
        <tr>
            <th>희망 전세</th>
            <td colspan="3"><input name="mypay" type="text" onchange="getNumber(this);" onkeyup="getNumber(this);" style="text-align:right;">원</td>
            <th>관리비</th>
            <td><input name="mypay" type="text" onchange="getNumber(this);" onkeyup="getNumber(this);" style="text-align:right;">원</td>
        </tr>

        <tr>
            <th colspan="6">매매</th>
        </tr>
        <tr>
            <th>희망 매매가</th>
            <td colspan="5"><input name="mypay" type="text" onchange="getNumber(this);" onkeyup="getNumber(this);" style="text-align:right;">원</td>
        </tr>
    </table>

</div>

<div class="prenext">
<div class="pre">
    <div class="predetails">
        <ul>
            <li><a href="agree.html">이전</a></li>
        </ul>
    </div>
</div>
    <div class="next">
        <div class="nextdetails">
            <ul>
                <li><a href="MoreInfo.html">다음</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>