<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="chatModalFragment">

        <button class="s-chat-connect-button" id="s-chat-connect-button">
            <img class="s-modalImg" src="/sc/chat.png">
        </button>

    <div class="s-chatbox">

        <div class="s-chat-closebox">
            <span>실시간 채팅방</span>
            <button class="s-chat-close">
            </button>
        </div>

        <div class="s-chat-textbox">
            <div class="s-chat-message">
                <p class="s-chat-nfo">
                    <span class="s-chat-nickname">김기무</span>
                    <span class="s-chat-time">11:47 PM</span>
                </p>
                <p class="s-chat-text">
                    안녕하세요 반갑습니다 저 오늘 이거 처음하는데 이렇게 하는거 맞나요??
                </p>
            </div>
        </div>


        <div class="s-chat-sendbox">
            <textarea name="" id="s-chat-input" cols="24"></textarea>
            <img src="sc/free-icon-sent-mail-71746.png" alt="">
            <script>
                const textarea = document.querySelector("#s-chat-input");

                textarea.addEventListener("input", function () {
                    this.style.height = "24px";
                    this.style.height = `${this.scrollHeight}px`;
                });
            </script>
        </div>

    </div>


</div>

</html>


