<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="chatModalFragment">

    <button id="s-chat-connect-button">
        <img class="s-modalImg" src="/sc/message.png" alt="">
    </button>

    <div class="s-chatbox">
        <div class="s-chat-closebox">
            <div class="s-chat-closebox-text">
                <span>아파트사조 실시간채팅</span>
                <div class="s-chat-statusbox">
                    <div class="s-chat-status"></div>
                    <span class="s-chat-closebox-count"></span>
                </div>
            </div>
            <button class="s-chat-close">
                <img src="https://kroiieinhewv4727645.cdn.ntruss.com/images/icon_close.svg" alt="">
            </button>
        </div>

        <div class="s-chat-textbox">


        </div>

        <div class="s-chat-sendbox">
            <textarea name="" id="s-chat-input" cols="24"></textarea>
            <input id="s-chat-email" type="hidden" th:value="${loginMember?.email}">
            <button>전송하기</button>
        </div>
    </div>


</div>

</html>
</body>
</html>