<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--headerFragment 선언-->
<header th:fragment="headerFragment" class="header nav-bar-toggle-icon">
<!--  <div if:유저가 로그인 했을 경우 보여주는 거>-->

<!--  </div>-->
<!--  <div if: 유저가 로그인 안 했을 때 >-->
<!--    -->
<!--  </div>-->
  <div class="n-header">
    <div class="n-header-left">
      <img src="sc/003.png" alt="">
      <ul class="n-header-list">
        <li>
          <a href="#">실거래가조회</a>
        </li>
        <li>
          <a href="#">매물</a>
        </li>
        <li>
          <a href="#">매물등록</a>
        </li>
        <li>
          <a href="#">청약정보</a>
        </li>
        <li>
          <a href="#">부동산뉴스</a>
        </li>
      </ul>
    </div>
    <div class="n-header-right" th:with="member=null">
      <ul th:if="${member==null}" class="n-header-list">
        <li>
          <a href="#">로그인</a>
        </li>
        <li>
          <a href="#">회원가입</a>
        </li>
        <li>
          <a href="#">고객센터</a>
        </li>
      </ul>
      <ul th:if="${member!=null}" class="n-header-list">
        <li>
          <a href="#">로그아웃</a>
        </li>
        <li>
          <a href="#">마이페이지</a>
        </li>
        <li>
          <a href="#">고객센터</a>
        </li>
      </ul>
    </div>
  </div>
</header>
</html>