/*웹 폰트 불러오기*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

/*전체 여백 없애기*/
body{
    margin: 0;
    height: 100%;
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 114px;
}

.n-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* 레이어를 최하단으로 설정 */
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),url("https://img.freepik.com/free-photo/amazing-aerial-shot-of-the-singapore-cityscape-with-lots-of-skyscrapers_181624-18618.jpg?w=2000");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*헤더 컨테이너*/
.n-header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    transition: 0.5s;
    border-bottom: 1px solid rgb(199, 199, 199);
}

/*헤더부분 hover시 배경색이 흰색으로 바뀐다*/
.n-header:hover{
    background-color: white;
}

/*flex 정렬을 위해 오른쪽 왼쪽 나뉨*/
.n-header-left{
    display: flex;
    align-items: center;
}

.n-header-right{
    display: flex;
    align-items: center;
}

/*로고이미지*/
.n-header img{
  height: 40px;
}

/*헤더부분 hover시 로고 색 변경*/
.n-header:hover img{
    filter: invert(48%) sepia(100%) saturate(2222%) hue-rotate(160deg) brightness(93%) contrast(107%);
}

/*실거래가조회~고객센터까지의 a태그를 담은 ul 컨테이너*/
.n-header-list{
  list-style: none;  
}

/*
li 기본값이 하단으로 추가되는걸 가로정렬로 변경
로고이미지랑 여백차이안나게 a태그들 위치조정, 간격조정
*/
.n-header-list li{
    float: left;
    margin-right: 30px;
    margin-top: 3px;
}

/*
헤더부분 hover시 a태그가 검은색으로 바뀌는데
그 안에서 개별적으로 a hover시엔 파랑색으로 바뀐다
*/
.n-header-list li a:hover{
    color: #00AAE6;
}

/*
a태그 기본값인 색,밑줄 설정제거, 폰트, 사이즈조정
*/
.n-header a{
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

/*헤더부분 hover시 a태그 색 변경*/
.n-header:hover a{
    color: #222;
}

/*메인페이지의 컨테이너*/
.r-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*검색창 컨테이너*/
.r-search {
    width: 750px;
    display: flex;
    margin: 150px 0px 0px;
}

.r-search .r-search-text {
    width: 100%;
    height: 80px;
    padding: 0 50px;
    border-radius: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #696D71;
    box-shadow: 0 0 10px;
}

.r-icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 49px;
    bottom: 0px;
    background-color: white;
    border-radius: 50px;
    width: 150px; 
    height: 78px;
    box-shadow: 0 0 10px;
    transition: 0.5s;
}

.r-search-text i {
    position: relative;
    right: 2px;
    color: #696D71;
    font-size: 42px;
}

.r-search-text input {
    font-family: 'Noto Sans KR', sans-serif;   
    font-weight: 700;
    font-size: 28px;
    border: none;
    width: 100%;
    color: white;
    background-color: transparent;
}

.r-search-text input:focus {
    outline:none;
}

.r-search-text:hover .r-icon-circle {
    width: 100px;
}

.r-search-text input:focus::placeholder {
    opacity: 0;
}

input::-webkit-input-placeholder { 
    position: relative;
    bottom: 2px;
    color: white;
}

.r-main-title-text p{
    font-family: 'Noto Sans KR', sans-serif;   
    font-weight: 700;
    font-size:100px;
    margin-top: 50px;
    color: aliceblue;
    box-shadow: 0 0 10px;
}

.r-button-menu {
    display: flex;
}

.r-button-menu a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #222;
    background-color: aliceblue;
    border-radius: 10px;
    width: 115px;
    height: 115px;
    margin: 0 15px;
    font-family: 'Noto Sans KR', sans-serif;   
    font-weight: 500;
    box-shadow: 0 0 10px;
}

.r-button-menu a .r-button-menu-icon1 {
    width: 54px;
    height: 54px;
    margin-bottom: 12px;
    background-image: url("아파트 사조오/bar-chart_738881.png");
    background-size: contain; /* 이미지를 div 내부에 맞게 조절 */
    background-repeat: no-repeat;
    background-position: center; /* 이미지를 중앙에 위치시킴 */
}

.r-button-menu a .r-button-menu-icon2 {
    width: 54px;
    height: 54px;
    margin-bottom: 12px;
    background-image: url("아파트 사조오/free-icon-real-estate-942089.png");
    background-size: contain; /* 이미지를 div 내부에 맞게 조절 */
    background-repeat: no-repeat;
    background-position: center; /* 이미지를 중앙에 위치시킴 */
}

.r-button-menu a .r-button-menu-icon3 {
    width: 54px;
    height: 54px;
    margin-bottom: 12px;
    background-image: url("아파트 사조오/free-icon-house-9507421.png");
    background-size: contain; /* 이미지를 div 내부에 맞게 조절 */
    background-repeat: no-repeat;
    background-position: center; /* 이미지를 중앙에 위치시킴 */
}

.r-button-menu a .r-button-menu-icon4 {
    width: 54px;
    height: 54px;
    margin-bottom: 12px;
    background-image: url("아파트 사조오/calendar_738865.png");
    background-size: contain; /* 이미지를 div 내부에 맞게 조절 */
    background-repeat: no-repeat;
    background-position: center; /* 이미지를 중앙에 위치시킴 */
}

.r-button-menu a .r-button-menu-icon5 {
    width: 54px;
    height: 54px;
    margin-bottom: 12px;
    background-image: url("아파트 사조오/free-icon-news-4837038.png");
    background-size: contain; /* 이미지를 div 내부에 맞게 조절 */
    background-repeat: no-repeat;
    background-position: center; /* 이미지를 중앙에 위치시킴 */
}

.r-button-menu a:hover div{
    animation: swing 0.5s ease-out ;
    transform-origin: bottom center;
}

@keyframes swing {
    0%, 100% {
      transform: rotate(0deg);
    }
    20%, 60% {
      transform: rotate(15deg);
    }
    40%, 80% {
      transform: rotate(-15deg);
    }
  }

.r-info {
    height: 500px;

}

.r-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}   

.r-footer-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.r-footer-a {
    display: flex;
    justify-content: left;
}

.r-footer-a a {
    text-decoration: none;
    color: #222;
    margin: 0 10px 10px;
}

.r-footer-text-wrap {
    margin-left: 10px;
    color: #696D71;
    font-size: smaller;
}

.r-footer-text3 {
    margin-top: 5px;
}

.r-footer-icon img {
    height: 40px;
}
