.scrollContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.scrollContent > hr{
    width: 90%;
}

.itemArray{
    width: 90%;
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, .03);
    margin-top: 50px;
}

.itemInfo{
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 10px;
}
/* .container */
.container {
    height: 50vh;
    width: 100vw;
    max-width: 1280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

/* .border */
.border {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
}

.border:hover {
    border: 1px solid white;
}

/* .card */
.card {
    height: 379px;
    width: 300px;
    background: grey;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card0, .card1, .card2, .card3, .card4, .card5, .card6 {
    background-size: 300px;
}

.card0 {
    background: url('/img/proIntroduce/item0.jpg') center center no-repeat;

    &:hover {
        background: url('/img/proIntroduce/item0.jpg') right center no-repeat;
        background-size: 600px;

        & h2, .fa {
            opacity: 1;
        }
    }
}

.card1 {
    background: url('/img/proIntroduce/item1.jpg') center center no-repeat;

    &:hover {
        background: url('/img/proIntroduce/item1.jpg') right center no-repeat;
        background-size: 600px;

        & h2, .fa {
            opacity: 1;
        }
    }
}

.card2 {
    background: url('/img/proIntroduce/item2.jpg') center center no-repeat;

    &:hover {
        background: url('/img/proIntroduce/item2.jpg') right center no-repeat;
        background-size: 600px;

        & h2, .fa {
            opacity: 1;
        }
    }
}

.card3 {
    background: url('/img/proIntroduce/item3.jpg') center center no-repeat;

    &:hover {
        background: url('/img/proIntroduce/item3.jpg') right center no-repeat;
        background-size: 600px;

        & h2, .fa {
            opacity: 1;
        }
    }
}

.card4 {
    background: url('/img/proIntroduce/item4.jpg') center center no-repeat;
    background-size: 100% 100%;
    &:hover {
        background: url('/img/proIntroduce/item4.jpg') right center no-repeat;
        background-size: 600px;

        & h2, .fa {
            opacity: 1;
        }
    }
}

.card5 {
    background: url('/img/proIntroduce/item5.jpg') center center no-repeat;

    &:hover {
        background: url('/img/proIntroduce/item5.jpg') right center no-repeat;
        background-size: 600px;

        & h2, .fa {
            opacity: 1;
        }
    }
}

.card6 {
    background: url('/img/proIntroduce/item6.jpg') center center no-repeat;

    &:hover {
        background: url('/img/proIntroduce/item6.jpg') right center no-repeat;
        background-size: 600px;

        & h2, .fa {
            opacity: 1;
        }
    }
}

/* h2 */
h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
}

/* .fa */
.fa {
    opacity: 0;
    transition: opacity 1s;
}

/* .icons */
.icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 130px;
    top: 226px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}
