<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <div class="container">
        <h1>Kakao Login Test</h1>
    <!--    <p>-->
    <!--        <a href="members/new">회원 가입</a>-->
    <!--        <a href="members">회원 목록</a>-->
    <!--    </p>-->
        <span th:if="${userId == null}">
            <a href="https://kauth.kakao.com/oauth/authorize?client_id=fae91fecfb7dbda2a80ae22881709a28&redirect_uri=http://localhost:8082/login&response_type=code">
                <button>카카오 로그인</button><br/>
            </a>
        </span>

        <span th:if="${userId != null}">                                  <!-- 로그인 성공 시 -->
            <form name="logout" action="http://localhost:8082/logout">
                <span th:text="${userName}"></span>님 환영합니다.<br/>    <!-- nickname + 인사말 출력 -->
                <input type="submit" value="로그아웃" />                  <!-- 로그아웃 버튼으로 전환 -->
            </form>
        </span>
    </div>
</body>
</html>

<!-- kakao restAPI 키 / fae91fecfb7dbda2a80ae22881709a28 -->