<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<title>thymeleaf layout</title>
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
	<!-- content script -->
	<th:block th:replace="~{fragments/config::configFragment}"> </th:block>
	<style>
		body {
			margin: 0px auto;
			max-width: 800px; /* 화면 중앙에 보이는 최대 너비를 지정 */
		}
	</style>
</head>
<!--	<th:block layout:fragment="css"></th:block>-->
	<!-- content script -->
<!--	<th:block layout:fragment="script"></th:block>-->
<body>
	<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <th:block layout:fragment="content"></th:block>
	<th:block th:replace="~{fragments/footer :: tFooter}"></th:block>
</body>
</html>