<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>아파트사조</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/mapMain.css"/><!--캐시삭제cmd+shift+R-->
</head>
<body>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"
    ></script>

<!-- 지도를 표시할 div 입니다 -->
<div id="map" style="width: 100%; height: 100%;">
    <!--전체 사이드바-->
    <div class="sideBarAll">
        <div class="sideMenu">
            <div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <!-- 검색창 -->
                        <div class="input-group">
                            <div class="titlearea">
                                <div class="left">
                                        <span style="padding-top: 8px;padding-left: 7px;">
                                          <img style="width:23px;"
                                               src="https://cdn.icon-icons.com/icons2/1462/PNG/512/134leftarrow_100014.png"
                                               alt=""/>
                                        </span>
                                    <div class="left1" style="padding-left: 15px;">
                                        <span class="title">서초구 양재동 201-1</span>
                                        <p style="font-size: 13px;">서울특별시 서초구 바우뫼로12길 65</p>
                                    </div>
                                </div>
                                <div class="right" style="align-items: center;">
                                    <button class="shareBtn">
                                        <img style="width:19px;"src="https://cdn.icon-icons.com/icons2/2368/PNG/512/share_icon_143700.png">
                                    </button>
                                    <button type="button" class="btn-close" aria-label="Close"></button>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- 상세정보 네비바--->
                    <li class="list-group-item">
                        <nav id="navbar-example2" class="navbar bg-body-tertiary mb-3">
                            <ul id="nav-pills" class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link" href="#scrollspyHeading1">실거래</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#scrollspyHeading2">추정가</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#scrollspyHeading3">건물</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#scrollspyHeading4">주변</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#scrollspyHeading5">매물</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#scrollspyHeading6">토지</a>
                                </li>
                        </nav>

                        <div>
                            <!-- 스크롤스파이로 상세페이지 내려서 확인 -->
                            <div
                                    data-bs-spy="scroll"
                                    data-bs-target="#navbar-example2"
                                    data-bs-root-margin="0px 0px -40%"
                                    data-bs-smooth-scroll="true"
                                    class="scrollspy-example bg-body-tertiary p-3 rounded-2"
                                    tabindex="0"
                            >

                                <div class="sideContents">
                                    <div h4 id="scrollspyHeading6">
                                        <!-- 미니맵 -->
                                        <div class="aed-mini-map">
                                            <div class="map-area" id="defaultRoadview" style="z-index: 3;"></div>
                                            <div class="map-area" id="defaultMap"
                                                 style="overflow: hidden; background: url(&quot;https://t1.daumcdn.net/mapjsapi/images/2x/bg_tile.png&quot;); z-index: 4;">
                                                <div class="mut-area left">
                                                    <a href="#" class="mut mut-maparound" style="pointer-events: auto;">주변</a>
                                                </div>
                                                <div class="mut-area right">
                                                    <a href="#" class="mut mut-mapbigview">크게</a>
                                                    <a href="#" class="mut mut-roadview">로드뷰</a>

                                                </div>
                                                <div style="position: ; left: 0px; top: 0px; width: 100%; height: 100%; touch-action: none; cursor: url(&quot;https://t1.daumcdn.net/mapjsapi/images/2x/cursor/openhand.cur.ico&quot;) 7 5, url(&quot;https://t1.daumcdn.net/mapjsapi/images/2x/cursor/openhand.cur.ico&quot;), default;">
                                                    <div style="position: absolute; left: 82px; top: -51px;">
                                                        <div style="position: absolute; z-index: 0;"></div>
                                                        <div style="position: absolute; z-index: 1; left: 0px; top: 0px;">
                                                            <img
                                                                    src="https://map.daumcdn.net/map_k3f_prod/bakery/image_map_png/PNG01/v22_galhg/4/978/454.png"
                                                                    alt="" role="presentation" draggable="false"
                                                                    style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: -187px; top: 29px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;"><img
                                                                src="https://map.daumcdn.net/map_k3f_prod/bakery/image_map_png/PNG01/v22_galhg/4/978/455.png"
                                                                alt="" role="presentation" draggable="false"
                                                                style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 69px; top: 29px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;"><img
                                                                src="https://map.daumcdn.net/map_k3f_prod/bakery/image_map_png/PNG01/v22_galhg/4/978/456.png"
                                                                alt="" role="presentation" draggable="false"
                                                                style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 325px; top: 29px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;"><img
                                                                src="https://map.daumcdn.net/map_k3f_prod/bakery/image_map_png/PNG01/v22_galhg/4/979/454.png"
                                                                alt="" role="presentation" draggable="false"
                                                                style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: -187px; top: -227px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;"><img
                                                                src="https://map.daumcdn.net/map_k3f_prod/bakery/image_map_png/PNG01/v22_galhg/4/979/455.png"
                                                                alt="" role="presentation" draggable="false"
                                                                style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 69px; top: -227px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;"><img
                                                                src="https://map.daumcdn.net/map_k3f_prod/bakery/image_map_png/PNG01/v22_galhg/4/979/456.png"
                                                                alt="" role="presentation" draggable="false"
                                                                style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 325px; top: -227px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;">
                                                        </div>
                                                        <div style="position: absolute; z-index: 1;"></div>
                                                        <div style="width: 360px; height: 180px; position: absolute; z-index: 1;"></div>
                                                        <div style="position: absolute; z-index: 1;">
                                                            <svg version="1.1"
                                                                 style="stroke: none; stroke-dashoffset: 0.5; stroke-linejoin: round; fill: none; transform: translateZ(0px); position: absolute; left: -802px; top: -309px; width: 1800px; height: 900px;"
                                                                 viewBox="0 0 1800 900">
                                                                <defs></defs>
                                                                <path id="daum-maps-shape-1"
                                                                      style="stroke: rgb(255, 44, 64); stroke-opacity: 1; stroke-width: 2px; color: rgb(255, 44, 64); stroke-linecap: round; fill: rgb(255, 44, 64); fill-opacity: 0.3; fill-rule: evenodd; display: inline-block;"
                                                                      d=" M867 396 L943 495 935 502 925 501 857 409 867 396 Z"
                                                                      transform="translate(0,0)"></path>
                                                            </svg>
                                                        </div>
                                                        <div style="position: absolute; z-index: 1; width: 100%; height: 0px; transform: translateZ(0px);"></div>
                                                    </div>
                                                </div>
                                                <div style="position: absolute; cursor: default; z-index: 1; margin: 0px 6px; height: 19px; line-height: 14px; left: 0px; bottom: 0px; color: rgb(0, 0, 0);">
                                                    <div style="color: rgb(0, 0, 0); text-align: center; font-size: 10px; float: left;">
                                                        <div style="float: left; margin: 2px 3px 0px 4px; height: 6px; transition: width 0.1s ease 0s; border-top: none rgb(0, 0, 0); border-right: 2px solid rgb(0, 0, 0); border-bottom: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0); border-image: initial; width: 46px;"></div>
                                                        <div style="float: left; margin: 0px 4px 0px 0px; font-family: AppleSDGothicNeo-Regular, 돋움, dotum, sans-serif; font-weight: bold; color: rgb(0, 0, 0);">
                                                            100m
                                                        </div>
                                                    </div>
                                                    <div style="margin: 0px 4px; float: left;"><a target="_blank"
                                                                                                  href="http://map.kakao.com/"
                                                                                                  title="Kakao 지도로 보시려면 클릭하세요."
                                                                                                  style="float: left; width: 32px; height: 10px;"><img
                                                            src="https://t1.daumcdn.net/mapjsapi/images/2x/m_bi_b.png"
                                                            alt="Kakao 지도로 이동"
                                                            style="float: left; width: 32px; height: 10px; border: none;"></a>
                                                        <div style="font: 11px / 11px Arial, Tahoma, Dotum, sans-serif; float: left;"></div>
                                                    </div>
                                                </div>
                                                <div style="cursor: auto; position: absolute; z-index: 2; left: 0px; top: 0px;"></div>
                                            </div>
                                        </div>

                                        <!-- 미니맵 속 위치정보 -->
                                        <div class="aed-map-det">
                                            <h2 class="map-info">
                                                <div class="txt txt-jibun txt01">서울특별시 양재 그린카스테이션</div>

                                            </h2>
                                            <ul class="sp-if">
                                                <li class="icon-ytp01 icon-loc-666-12_15">
                                                    <div class="gur txt">
                                                        <span id="sbWalk">신분당 양재시민의숲역 도보 6분</span>
                                                    </div>
                                                </li>
                                                <li class="icon-ytp01 icon-toji-666-12_12 summary-info summary-info-land">
                                                    <div class="toji txt">
                                                <span class="" data-dan-toggle-con="spif-toji">토지 <em class="au on">2,458.65평</em><em
                                                        class="au">8,127.8㎡</em>(1필지)</span>
                                                        <span class="">자연녹지</span>
                                                        <span class="">잡종지</span>
                                                        <span class="">공시지가 87.5억</span>
                                                    </div>
                                                </li>
                                                <li class="icon-ytp01 icon-yeo-666-12_12 summary-info summary-info-bldg">
                                                    <div class="yeo txt">
                                                <span class="" data-dan-toggle-con="spif-yeo">건물 <em class="au on">108.29평</em><em
                                                        class="au">358㎡</em>(2동)</span>
                                                        <span class="">위험물저장처리</span>
                                                        <span class="">1F</span>
                                                        <span class="">2010년(13년)</span>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="etc-if">
                                                <span class="icon-ytp01 icon-eye-8ea5c1-14_9 ei count-view"></span>
                                                <span class="icon-ytp01 icon-fav-8ea5c1-9_11 ei count-fav"></span>
                                            </div>
                                            <div class="mes-util">

                                                <a href="#" id="mes-utils" class="save btnRpSaveAddress">
                                                    <div class="ico icon-ytp01 icon-star-222-17_17"></div>
                                                    <span class="tx">저장</span>
                                                </a>
                                                <a href="#" id="mes-utils" class="alarm btnRpAlarm">
                                                    <div class="ico icon-ytp01 icon-alarm-222-15_17"></div>
                                                    <span class="tx">알림</span>
                                                </a>
                                                <a href="#" id="mes-utils" class="way btnRpWay">
                                                    <div class="ico icon-ytp01 icon-way-222-17_17"></div>
                                                    <span class="tx">길찾기</span>
                                                </a>
                                                <a href="#" id="mes-utils"
                                                   class="share aed-share-minibox-switch btnRpShare">
                                                    <div class="ico icon-ytp01 icon-share-222-15_17"></div>
                                                    <span class="tx">공유</span>
                                                </a>

                                            </div>
                                            <div class="memo hide">
                                                <div class="view"></div>
                                            </div>
                                            <div class="save-i hide">
                                                <a href="#" class="folder btnRpSaveAddressInfo">
                                                    <div class="sa-i-won size-medium star" data-sa-color="#fff"></div>
                                                    <span class="folder-name"></span>
                                                    <span class="etctxt"></span>
                                                </a>
                                                <a href="#"
                                                   class="btns icon-ytp01 icon-pen-fff-12_12 folder-modify btnRpSaveAddressModify"><span
                                                        class="txt"></span></a>
                                            </div>
                                        </div>
                                    </div>


                                    <!--스크롤스파이로 내려서 볼 정보들-->
                                    <h4 id="scrollspyHeading1">실거래정보</h4>
                                    <p>
                                        실거래 이력이 없습니다
                                    </p>
                                    <h4 id="scrollspyHeading2">추정가</h4>
                                    <p>
                                        로그인하면 보여주겠음 로그인로그인~~~ 회원가입~~~ 카카오
                                        네이버
                                    </p>
                                    <h4 id="scrollspyHeading3">건물정보 | 강남역지하도상가</h4>
                                    <p>
                                        . 동정보 대장종류 동 주용도 연면적 표제부(집합) - 판매시설
                                        1,852.92평 대지면적 0평 용도지역 - 주용도 판매시설 기타용도
                                        판매시설 사용승인일 2014-08-13 대수선 및 리모델링 - 주구조
                                        철근콘크리트구조 지붕구조 (철근)콘크리트 연면적 1,852.92평
                                    </p>
                                    <h4 id="scrollspyHeading4">주변</h4>
                                    <p>...</p>
                                    <h4 id="scrollspyHeading5">매물</h4>
                                    <p>...</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>




    <!-- 우측에 띄울 맵보조기능(상권, 집등록 등)-->
    <div class="map_util">
        <div
                class="btn-group-vertical"
                role="group"
                aria-label="Vertical button group"
        >
            <div class="btn-group dropstart" role="group">
                <button
                        type="button"
                        class="btn btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                >
                    학군
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                </ul>
            </div>
            <div class="btn-group dropstart" role="group">
                <button
                        type="button"
                        class="btn btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                >
                    상권
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                </ul>
            </div>
        </div>

        <button type="button" id="hsBtn" class="btn btn-primary position-relative">
            집 내놓기
            <span
                    class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger"
            >
          10초만에 쉽고 빠르게!
          <span class="visually-hidden">unread messages</span>
        </span>
        </button>
    </div>

</div>






    <!--지도api관련 스크립트-->
    <script
            type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=179914fda820a3439d6be6c03abcd66f
    &libraries=clusterer"
    ></script>
    <script>
        var mapContainer = document.getElementById("map"), // 지도를 표시할 div
        mapOption = {
          center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
          level: 3, // 지도의 확대 레벨
        };

        // 지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 마커를 표시할 위치와 title 객체 배열입니다
        var positions = [
        {
          title: "카카오",
          latlng: new kakao.maps.LatLng(33.450705, 126.570677),
        },
        {
          title: "생태연못",
          latlng: new kakao.maps.LatLng(33.450936, 126.569477),
        },
        {
          title: "텃밭",
          latlng: new kakao.maps.LatLng(33.450879, 126.56994),
        },
        {
          title: "근린공원",
          latlng: new kakao.maps.LatLng(33.451393, 126.570738),
        },
        ];

        var markers = positions.map(function (position) {
        // 마커를 배열 단위로 묶음
        return new kakao.maps.Marker({
          position: new kakao.maps.LatLng(position.lat, position.lng),
        });
        });

        // 커스텀 오버레이에 표시할 내용입니다
        // HTML 문자열 또는 Dom Element 입니다
        var content = '<div class="overlay_info">';
        content +=
        '    <a href="https://place.map.kakao.com/987729279" target="_blank"><p>단독/다가구</p><b>5,000만</b></a>';
        content += '    <div class="desc">';
        content += '    <span class="address">2021년</span>';
        content += "    </div>";
        content += "</div>";

        // 커스텀 오버레이를 표시할 위치와 content 객체 배열입니다
        var positions = [
        {
          content:
            '<div class="overlay_info"><a href="https://place.map.kakao.com/987729279" target="_blank"><p>단독/다가구</p><b>5,000만</b></a><div class="desc"><span class="address">2021년</span></div></div>',
          latlng: new kakao.maps.LatLng(33.450705, 126.570677),
        },
        {
          title: "생태연못",
          latlng: new kakao.maps.LatLng(33.450936, 126.569477),
        },
        {
          title: "텃밭",
          latlng: new kakao.maps.LatLng(33.450879, 126.56994),
        },
        {
          title: "근린공원",
          latlng: new kakao.maps.LatLng(33.451393, 126.570738),
        },
        ];

        // 커스텀 오버레이가 표시될 위치입니다
        var position = new kakao.maps.LatLng(33.450936, 126.569477);

        // 커스텀 오버레이를 생성합니다
        var mapCustomOverlay = new kakao.maps.CustomOverlay({
        position: position,
        content: content,
        xAnchor: 0.5, // 커스텀 오버레이의 x축 위치입니다. 1에 가까울수록 왼쪽에 위치합니다. 기본값은 0.5 입니다
        yAnchor: 1.1, // 커스텀 오버레이의 y축 위치입니다. 1에 가까울수록 위쪽에 위치합니다. 기본값은 0.5 입니다
        });

        // 커스텀 오버레이를 지도에 표시합니다
        mapCustomOverlay.setMap(map);

        var clusterer = new kakao.maps.MarkerClusterer({
        map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
        averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
        minLevel: 5, // 클러스터 할 최소 지도 레벨
        markers: markers, // 클러스터에 마커 추가
        });

        // 마커 이미지의 이미지 주소입니다
        var imageSrc =
        "https://w7.pngwing.com/pngs/331/347/png-transparent-bus-stop-train-trolleybus-transport-bus-service-logo-school-bus.png";

        for (var i = 0; i < positions.length; i++) {
        // 마커 이미지의 이미지 크기 입니다
        var imageSize = new kakao.maps.Size(24, 24);

        // 마커 이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
          map: map, // 마커를 표시할 지도
          position: positions[i].latlng, // 마커를 표시할 위치
          title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
          image: markerImage, // 마커 이미지
        });

        clusterer.addMarker(marker); // 마커를 클러스터러에 추가
        }
    </script>


</body>
</html>
