<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성폼</title>

    <!--부트스트랩-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- summernote -->
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- include summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>

</head>


<style>
    .layout {
    width : 800px;
    margin: 0 auto;
    margin-top : 40px;
    }

    .layout input {
    width : 100%;
    box-sizing : border-box;
    }

    .layout textarea {
    width : 100%;
    margin-top : 10px;
    min-height :300px;
    }

    .content{
    margin-top:30px;
    }

    #saveBtn, #resetBtn, #backBtn{
    background-color:#26A9E0;
    border-color: #26A9E0;
    margin-bottom: 100px;
    }

    .buttonL{
    float: left;
    }

    .buttonR{
    float: right;
    }

</style>

<body>
<h3>게시글 작성하기</h3>
<hr>
<div class="layout">
    <form action="/board/writepro" method="post">
        <input name = "title" type="text" placeholder="제목을 입력하세요.">
        <div class="content">
            <textarea id= "summernote" name = "content"> </textarea>
            <script>
                $(document).ready(function () {
                  $('#summernote').summernote({
                    height: 400, // set editor height
                    width: 850,
                    placeholder: '내용을 입력해주세요.',
                    focus: true,
                    lang: 'ko-KR', // 기본 메뉴언어 US->KR로 변경
                    toolbar: [
                      // [groupName, [list of button]]
                      ['fontname', ['fontname']],
                      ['fontsize', ['fontsize']],
                      ['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
                      ['color', ['forecolor', 'color']],
                      ['table', ['table']],
                      ['para', ['ul', 'ol', 'paragraph']],
                      ['height', ['height']],
                      ['insert', ['picture', 'link', 'video']],
                      ['view', ['fullscreen', 'help']],
                    ],
                    fontNames: [
                      '맑은 고딕',
                      '궁서',
                      '굴림체',
                      '굴림',
                      '돋움체',
                      '바탕체',
                      'Arial',
                      'Arial Black',
                      'Comic Sans MS',
                      'Courier New',
                    ],
                    fontSizes: [
                      '8',
                      '9',
                      '10',
                      '11',
                      '12',
                      '14',
                      '16',
                      '18',
                      '20',
                      '22',
                      '24',
                      '28',
                      '30',
                      '36',
                      '50',
                      '72',
                    ],
                  })

                  //저장 버튼 클릭
                  $(document).on('click', '#saveBtn', function () {
                    saveContent()
                  })
                })

                //데이터 저장
                function saveContent() {
                  //값 가져오기
                var summernoteContent = $('#summernote').summernote('code')
                  console.log('summernoteContent : ' + summernoteContent)
                }
            </script>
        </div>

        <div class="buttonL">
            <button type="button" id="backBtn" class="btn" onclick="location.href = boardList.html">
                목록
            </button>
        </div>

        <div class="buttonR">
            <button type="reset" id="resetBtn" class="btn">초기화</button>
            <button type="submit" id="saveBtn" class="btn">등록</button>
        </div>

    </form>

</div>
</body>
</html>