        h1{
        text-align:center;
        }

        .layout {
        width : 80%;
        margin: auto;
        margin-top : 40px;
        }

        input {
        width : 98%;
        height: 40px;
        padding: 5px;
        border: 1px solid #ccc;
        transition: all 0.3s ease; /* 입력 필드 크기 변경에 부드러운 애니메이션 추가 */
        margin: auto;
        margin-left : 5px;
        }

       input:focus {
            border-color: #26A9E0;
            outline: none;
            transform: scale(1.005); /* 포커스를 얻을 때 크기가 조금 더 커지도록 설정 */
        }

        table{
         width : 100%;
         margin-top:60px;
         border-collapse: collapse;
         border: 1px solid #ddd;
         border-top: 3px solid #26A9E0;
        }

        table th{
        width : 10%;
        padding: 20px;
        background: #ececec;
        color: #666;
        font-size: 15px;
        border: 1px solid #ddd;
        }


       textarea {
        width : 99%;
        margin-top : 10px;
        min-height :350px;
        padding: 5px;
        border: 1px solid #ccc;
        transition: all 0.3s ease; /* 입력 필드 크기 변경에 부드러운 애니메이션 추가 */
        resize: none;
        margin-left : 5px;
        }


      textarea:focus {
                border-color: #26A9E0;
                outline: none;
                transform: scale(1.005); /* 포커스를 얻을 때 크기가 조금 더 커지도록 설정 */
      }

        .write-box{
        width : 95%;
        margin : auto;
        }

        .three-btn{
        width : 100px;
        height: 40px;
        background-color:#26A9E0;
        border: #26A9E0;
        border-radius : 10px;
        margin-bottom: 100px;
        color:white;
        }

        .buttonL{
        float: left;
        }

        .buttonR{
        float: right;
        }

        .buttonL, .buttonR{
        margin-top : 30px;
        }

        .read{
        backgroud: #ddd;
        margin-left : 10px;
        }
