
        h2{
        margin-left : 3%;
        }

         .btn-group  {
        display: flex;
        justify-content: center;
         }

        .btn-group:after {
        content: "";
        clear: both;
        display: table;
        }

        .info{
         width : 95%;
         margin-top:70px;
         margin : auto;
         border-collapse: collapse;
         border: 1px solid #ddd;
        }

        .num{
        text-align : right;
        width : 40px;
        height : 18px;
        }

        .won{
        text-align : right;
        width : 130px;
        height : 18px;
        }

        .combo{
        margin-left :5px;
        width : 120px;
        height : 18px;
        }

        input {
        margin-left: 5px;
        padding: 5px;
        border: 1px solid #ccc;
        transition: all 0.3s ease; /* 입력 필드 크기 변경에 부드러운 애니메이션 추가 */
    }

    input:focus {
        border-color: #26A9E0;
        outline: none;
        transform: scale(1.05); /* 포커스를 얻을 때 크기가 조금 더 커지도록 설정 */
    }

        #addressInput{
        margin-left :5px;
        width : 250px;
        height : 18px;
        }

        #apt-name{
        margin-left :5px;
        width : 160px;
        height : 18px;
        }

        .hidden {
         display: none;
         border-collapse: collapse;
    }

        #monthRentSection{
        border-collapse: collapse;
        border: 1px solid #ddd;
        width : 33%;
        }

        #leaseSection{
        margin-left : 33.5%;
        border-collapse: collapse;
        border: 1px solid #ddd;
        width : 33%;
        }

        #sellingSection{
        margin-left : 67%;
        border-collapse: collapse;
        border: 1px solid #ddd;
        width : 33%;
        }

        .address-btn{
        border : none;
        background-color : white;
        }

        table th{padding:20px;}

        .popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 2px solid #26A9E0;
            padding: 20px;
            z-index: 9999;
            max-width: 80%;
            max-height: 80%;
            overflow: auto;
            width: 600px;
            height: 600px;
            border-radius :5px;
        }

        .x-btn{
        float : right;
        border : none;
        background-color :white;
        }

        .ximg{
        width : 50px;
        height: 50px;

        }

        .pop-content{
        margin-top : 40px;
        }

        #helpLink{
        color : #26A9E0;
        }



        /*거래유형 라디오*/
                .form_radio_btn {
        			width: 47%;
        			height : 55px;
            		border: 1px solid #26A9E0;;
            		border-radius: 10px;
        		}
        		.form_radio_btn input[type=radio] {
        			display: none;
        		}
        		.form_radio_btn label {
        			display: block;
            		border-radius: 10px;
           			margin: 0 auto;
            		text-align: center;
            		height: -webkit-fill-available;
            		line-height: 50px;
        		}

        		/* Checked */
        		.form_radio_btn input[type=radio]:checked + label {
        			background: #26A9E0;
        			color: #fff;
        		}

        		/* Hover */
        		.form_radio_btn label:hover {
        			color: #666;
        		}

        		/* Disabled */
        		.form_radio_btn input[type=radio] + label {
        			background: #F9FAFC;
        			color: #666;
        		}