
    h1{
    text-align:center;
    }

    .layout{
    width:80%;
    margin : auto;
    margin-top: 40px;
    }

    #notice-box{
    height : 100px;
    background : #f8f8f8;
    width : 90%;
    margin: auto;
    margin-top: 105px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    }


    table{
    border-top: solid 3px #26A9E0;
    border: 1px solid #ddd;
    }

    table th{
    width : 200px;
    border-left:solid #f8f8f8;
    background : #f8f8f8;
    }

    table tr{
    height: 50px;
    }

    table td{
    border-right:solid #fff;
    }

    .qna-tb{
    border-collapse: collapse;
    width:90%;
    margin:auto;
    margin-top: 30px;
    }

    .submit-btn{
    margin-top: 40px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    color : #fff;
    border: #26A9E0;
    background : #26A9E0;
    }

    #title{
    height: 30px;
    width : 90%;
    }

    .boldtext{
    color :#26A9E0;
    }

    .right-text{
    width : 95%;
    display: flex;
    justify-content: flex-end;
    }

    .submit-btn-outer{
    text-align : center;
    width : 100%;
    }

  select{
    height: 40px;
    width : 20%;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    transition: all 0.3s ease; /* 입력 필드 크기 변경에 부드러운 애니메이션 추가 */
    }

    select:focus {
               border-color: #26A9E0;
               outline: none;
               transform: scale(1.005); /* 포커스를 얻을 때 크기가 조금 더 커지도록 설정 */
    }

      input {
            width : 95%;
            margin-left: 5px;
            padding: 5px;
            border: 1px solid #ccc;
            transition: all 0.3s ease; /* 입력 필드 크기 변경에 부드러운 애니메이션 추가 */
        }

        input:focus {
            border-color: #26A9E0;
            outline: none;
            transform: scale(1.005); /* 포커스를 얻을 때 크기가 조금 더 커지도록 설정 */
        }



     textarea {
                height: 200px;
                width : 95%;
                margin-left: 5px;
                padding: 5px;
                border: 1px solid #ccc;
                transition: all 0.3s ease; /* 입력 필드 크기 변경에 부드러운 애니메이션 추가 */
                resize: none
     }

      textarea:focus {
                border-color: #26A9E0;
                outline: none;
                transform: scale(1.005); /* 포커스를 얻을 때 크기가 조금 더 커지도록 설정 */
      }

      label{
      margin-left: 5px;
      }

      .form-control{
      border:none;
      }