.container {
    text-align:center;
}
.container-inner{
    padding-top: 100px;
}
.warning-icon img {
    width: 150px;
}
.warning-txt {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
}
#bold-txt {
    color: #26ABED;
}
.warning-btns {
    padding: 30px 50px;
}
