.container {
    text-align:center;
}
.c-inner{
    padding-top: 150px;
}
.warning-icon img {
    width: 130px;
}
.warning-txt {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
}
#bold-txt {
    color: #26ABED;
    text-decoration: none;
    border-bottom: 4px solid #26ABED;
}
.link-btns {
    padding: 50px 50px;
}
.link-btns a {
    border: 1px solid #26ABED;
    color: #26ABED;
    font-weight: ;
}
