.oLayout {
    width: 1000px;
    margin: 0 auto;
}
.n-header-list {
    margin: 16px 0px;
    padding: 0px 0px 0px 40px;
}
.o-lnb {
    min-width: 1000px;
    height: 50px;
    background-color: #ededed;
}
#o-container { height: auto; }
.o-wrapper {
    position: relative;
    display: block;
    margin-left: 205px;
}
.o-mid-inner {
    width: 1200px;
    margin: 0 auto;
}
.o-lnb-list {
    font-family: 'Noto Sans KR', sans-serif;
    height: 50px;
    float: left;
    display: flex;
    padding-left: 20px;
    line-height: 1;
    list-style: none;
    margin: 0;
}
.o-lnb-item {
    position: relative;
    display: inline-flex;
    margin-right: 15px;
    align-items: center;
}
.o-lnb-item a {
    font-weight: bold;
    color: #7790ad;
    font-size: 13px;
    text-decoration-line: none;
}
.oInfo-top {
    height: 250px;
    padding: 30px 0;
    background-color: #fafafa;
}
.oInfo-top-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}
.oInfo-left {
   display: flex;
}
.oInfoMember {
    margin-left: 30px;
}
.oInfoMemberContain {
   font-size: 22px;
   font-weight:bold;
   display: flex;
   align-items: center;
}
#oInfoMemberRoot {
    font-size: 14px;
    border: 1px solid #26abed;
    color: #26abed;
    margin-left: 10px;
    padding: 0px 4px;
}
#oInfoMemberEmail {
   font-size: 15px;
   font-weight:bold;
}
.oMaemulCnt {
    text-align: center;
    font-weight: 600;
    background-color: white;
    width: 150px;
    height: 150px;
    border: 1px solid #bbc7d6;
    display: inline-block;
}
.oMaemulCnt a,
.oMaemulCnt span {
    display: block;
    font-size: 20px;
}
.oMaemulCnt a {
    color: #26abed;
}
.oMaemulCnt span {
    font-size: 15px;
}
.oMeamulContainer {
    width: 1000px;
    display: contents;
}
.oMaemul-c-inner {
    padding: 40px 0px 50px;
}
.oMeamulTitleContainer {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    padding: 0px 0px 10px;
}
.oMeamulTabLeft {
    font-size: 17px;
}
.oMaemulLink {
    font-weight: 700;
    border: none;
    background-color: white;
}
#oAllView {
    background-color: #26abed;
    color: white;
    padding: 5px 8px;
    font-size: 15px;
}
.oUpdateLinkBtn{
    width: 150px;
}
.oCardMaemul {
    text-decoration: none;
    color: black
}
#oInterest {
    color: #25AAE1;
}
#oRecent {
    color: #999999;
}
.oInfo-right {
    display: flex;
    justify-content: center;
}
.oMaemulContainer {
    display: flex;
    justify-content: left;
}
.myImg {
    width: 150px;
}

/*oMyInfoUpdate css*/
.form-floating {
   width: 350px;
}
#nickname {
    width: 254px;
}
#oJoinBtn-container {
   display: flex;
   justify-content: space-evenly;
}
#oInner-container-join {
   width: 400px;
   height: auto;
}
#oJoinTitle {
   padding: 20px 50px;
   margin: 0px;
}
#btnEmailCheck {
   width: 90px;
   margin-left: 6px;
}
.form-check-warning {
   display: none;
   text-align: left;
   color: red;
   font-size:12px;
}
.form-check-warning-info {
   text-align: left;
   color: red;
   font-size:12px;
}
.oAgree,.oMustAgree {
   margin-right: 5px;
}
.oAgree-li {
   margin: 10px;
}
.mustch {
   font-weight: 600;
   color: #26ABED;
}
.selch {
   font-weight: 600;
   color: gray;
}

/* oFindMemberInfo */
#oInner-container {
    width: 400px;
}
.oFindTitle {
    padding: 20px 25px;
    margin: 0px;
}
.oLabelColor {
    color: gray;
    font-size: 14px;
}
.findSubtitle {
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    margin-left: 20px;
}
.ofindResult {
    display: block;
    text-align: center;
    text-weight: 700;
    color: red;
    font-size: 14px;
    margin-top: 20px;
}
#oDeleteMemberBtn{
    font-size: 13px;
    margin-right: 280px;
}
.oThumbnailImg img{
    border-radius: 50%;
}


/* oMyQnA */
.oMyQnaTb {
    padding: 30px 0px;
}
.o-tb-btn {
    text-align: center;
}
.o-tb-btn button {
    margin: 0 auto;
    border: none;
    background-color: #26abed;
    color: white;
    font-size: 18px;
}
.myQnaCntAll {
    color: #26ABED;
    font-weight: 600;
}

/* maemulInterest */
.o-search-btns {
    width: 150px;
}