.oLayout {
    margin: 0 auto;
}
.n-header-list {
    margin: 16px 0px;
    padding: 0px 0px 0px 40px;
}
#o-container {
    height: auto;
}
.o-mid-inner {
    width: 1200px;
    margin: 0 auto;
}
.oInfo-top {
    display: flex;
    justify-content: center;
    height: 296px;
    padding: 30px 0;
    background-color: #fafafa;
}
.oInfo-top-wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
    height:200px;
}
.aThumMem {
   display: flex;
}
.oInfoMember {
    margin-left: 30px;
}
.oInfoMemberContain {
   font-size: 22px;
   font-weight:bold;
   display: flex;
   align-items: center;
}
#oInfoMemberRoot {
    font-size: 14px;
    border: 1px solid #26abed;
    color: #26abed;
    margin-left: 10px;
    padding: 0px 4px;
}
#oInfoMemberEmail {
   font-size: 15px;
   font-weight:bold;
}
.aAddPic{
    margin-top: 9px;
    margin-left: 7px;
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
    background-color: transparent;
    height: 31px;
    width: 139px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aAddPicImg{
    width: 14px;
        opacity: 48%;
}
.aAddPicImg2{
    width:14px;
}
.aAddPicP{
    color: #4a4a4a;
    margin-left: 8px;
    font-size: 14px;
    margin-bottom: 0px;
}
.oMaemulCnt {
    text-align: center;
    font-weight: 600;
    background-color: white;
    width: 150px;
    height: 150px;
    border: 1px solid #bbc7d6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.oMaemulCnt a,
.oMaemulCnt span {
    display: block;
    font-size: 20px;
}
.oMaemulCnt a {
    color: #26abed;
}
.oMaemulCnt span {
    font-size: 15px;
}
.oMeamulContainer {
    width: 1000px;
    margin: 0 auto;
}
.oMaemul-c-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}
.o-tab-c {
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 0px 0px 10px;
    width: 100%;
}
.o-tab-l {
    font-size: 18px;
}
.o-tab-r {
    margin-left: auto;
}
.o-mm-link {
    font-weight: 700;
    background-color: white;
    text-decoration: none;
}
#o-allView {
    width: 95px;
    background-color: #26abed;
    color: white;
    padding: 5px 8px;
    font-size: 14px;
    display: flex;
    height: 30px;
    justify-content: center;
}
.aSeeAll{
    margin-right: 4px;
}
.oUpdateLinkBtn{
    width: 150px;
}
.oCardMaemul {
    text-decoration: none;
    color: black
}
#o-liked-link {
    color: #25AAE1;
}
#o-recent-link {
    color: #999999;
}
#o-division {
    margin: 0px 15px;
    color: #222222;
    font-weight: 300;
}
.oInfo-right {
    height: 100%;
}
.oMaemulCnt-inner {
    display:flex;
}
.oMaemulCnt-inner > .oMaemulCnt:first-child {
    border-right: none;
}
.a_myInEditAndServiceInfoBtn{
   display: flex;
   justify-content: space-between;
}
.a_Btns{
    display: flex;
    text-align: center;
    font-weight: 600;
    height: 31px;
    margin-top: 10px;
    color: white;
    width: 49%;
    background-color: #2aa1dc;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.oMaemulContainer {
    display: flex;
    justify-content: left;
}
.myImg {
    width: 150px;
}
.o-noCnt {
    height: 200px;
    font-size: 13px;
    font-weight: 600;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/*oMyInfoUpdate css*/
.form-floating {
   width: 350px;
}
#o-email-c, #o-nickname-c {
    display: flex;
    flex-wrap:wrap;
}
#nickname {
    width: 254px;
}
#btnNicknameCheck {
    width: 90px;
    margin-left: 6px;
}
#oJoinBtn-container {
   display: flex;
   justify-content: space-evenly;
}
#oInner-container-join {
   width: 400px;
   height: auto;
}
#btnEmailCheck {
   width: 90px;
   margin-left: 6px;
}
.form-check-warning {
   display: none;
   text-align: left;
   color: red;
   font-size:12px;
}
.form-check-warning-info {
   text-align: left;
   color: red;
   font-size:12px;
}
.oAgree,.oMustAgree {
   margin-right: 5px;
}
.oAgree-li {
   margin: 10px;
}
.oAgree-li div{
    display: flex;
        align-items: center;
}
.mustch {
margin-right: 6px;
   font-weight: 600;
   color: #26ABED;
}
.selch {
    margin-right:6px;
   font-weight: 600;
   color: gray;
}
#leaveBtn{
    font-size: 13px;
    margin-top: 50px;
}

/* oFindMemberInfo */
#oInner-container {
    width: 400px;
}
.oLabelColor {
    color: gray;
    font-size: 14px;
}
.ofindResult {
    display: block;
    text-align: center;
    font-weight: 600;
    color: red;
    font-size: 14px;
    margin-top: 20px;
    width: 350px;
}
/* 이메일 비밀번호 찾기 타이틀 */
.o-find-subTitle {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
}
/* 이메일 비밀번호 찾기 타이틀 뒤 백그라운드컬러 */
.o-bgc-t {
    background-color: blue;
    width: 100%;
    height: 120px;
    position: absolute;
    opacity: 2%;
}
#o-find-info {
    font-size: 12px;
    color: gray;
}

.oThumbnailImg img{
    border-radius: 50%;
}

/* oMyQnA */
.oMyQnaTb {
    padding: 30px 0px;
}

/* maemulInterest */
.o-search-btns {
    width: 150px;
}

/* 관심매물 최근본매물 영역 css */
* {
	box-sizing: border-box;
}

.z-main-container {
	display: flex;
	align-items: center; /* 세로 중앙 정렬 */
	flex-direction: column;
	background-color: #efeff0;
	height: 100%;
}

.z-top-container {
	width: 100%;
	background-color: #fff;
}
.z-top-first {
	border-bottom: 1px solid #e5e5e5;
}

.z-top-size-wrap {
	margin: 20px;
	display: flex;
	justify-content: center;
}

.z-top-info {
	display: flex;
	align-items: center;
	gap: 30px;
	line-height: 30px;
}

.z-top-text {
	font-size: 14px;
}

.z-top-title {
	font-size: 20px;
	font-weight: bold;
}

.z-category {
	color: #666666;
}

.z-top-wrap {
	display: flex;
	justify-content: center;
}

.z-top-btn {
	border: none;
	background-color: #fff;
	width: 200px;
	height: 60px;
	cursor: pointer;
}

.z-top-btn:hover {
	background-color: #efeff0;
}

.z-top-seperate1 {
	border-bottom: 2px solid #000;
}

.z-count {
	color: #129ded;
}

.z-middle-container {
	margin: 30px;
}

.z-middle-wrap {
	display: flex;
	justify-content: center;
/*	gap: 10px;*/
}

.z-hash-tags {
	border: 1px solid #e5e5e5;
	color: #7790ad;
	border-radius: 20px;
	padding: 10px;
	cursor: pointer;
}

.z-hash-tags:hover {
	background-color: gray;
	color: white;
}

.z-content-wrap {
	width: 300px;
	height: 385px;
}

.z-img-wrap,
.z-img,
.z-img-wrap img {
	width: 300px;
	height: 191.25px;
}

.z-text-content2::before {
	content: "ㆍ";
}

.z-bottom-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 10px), 1fr)); /* 각 열의 크기 설정 */
    grid-gap: 10px; /* 열 간격 설정 */
    grid-row-gap: 10px; /* 행 간격 설정 */
    margin-bottom: 80px;
}
.z-bottom-wrap  a {
    text-decoration: none;
    color: black;
}

.z-text-content3 {
	color: #888888;
}

.z-bottom-text {
	padding: 20px;
}

.z-bottom-text {
	font-size: 15px;
	background-color: #fff;
	width: 340px;
	height: 195px;
}

.z-text-contents {
	margin-top: 10px;
	line-height: 22px;
}

.z-text-wrap {
	font-size: 15px;
	background-color: #fff;
	width: 340px;
	height: 195px;
}

.z-text-title {
	font-size: 22px;
	color: #129ded;
}

.z-t {
	color: #129ded;
}

.z-text-hash-wrap {
	height: 24px;
	margin-top: 30px;
}

.z-text-hash {
	border: none;
	background-color: #eeeeee;
	color: #888;
	border-radius: 30px;
	align-items: center;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

.z-second-wrap {
	padding-bottom: 100px;
	width: 1080px;
}

.z-page-container {
	margin-top: 30px;
}

.z-page-wrap {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.z-page-before,
.z-page-after {
	width: 30px;
	height: 30px;
	font-size: 13px;
	cursor: pointer;
}

.z-page-before::before {
	content: "";
	display: inline-block;
	background: url(https://www.bdsplanet.com/images/ui_pagenate.png) no-repeat 0
	0;
	width: 4px;
	height: 7px;
	background-position: -37px 0;
}

.z-page-after::before {
	content: "";
	display: inline-block;
	background: url(https://www.bdsplanet.com/images/ui_pagenate.png) no-repeat 0
	0;
	width: 4px;
	height: 7px;
	background-position: -56px 0;
}

.z-page-wrap a {
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
}

.z-pagenation {
	width: 30px;
	color: #888;
	align-items: center;
	display: flex;
	justify-content: center;
}

.z-pagenation:hover {
	border-bottom: 2px solid #888;
}

.z-p1 {
	border-bottom: 2px solid #000;
	color: #000;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


.s-mamulbox {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 375px;
    font-family: 'Pretendard-Regular';
}

.s-mamul-img img{
    width: 320px;
    height: 180px;
}

.s-mamul-text {
    width: 320px;
    height: 195px;
    border: 1px solid #d1dae4;
    padding: 30px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
}

.s-mamul-text p {
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* 넘치는 텍스트에 '...' 표시 */
}

.s-mamul-text-title {
    color: #129ded;
    font-size: 22px;
    font-weight: 900;
}

.s-mamul-text-1 {
    margin-top: 10px;
    display: flex;
}

.s-mamul-text-2 {
    display: flex;
}

.s-mamul-tag {
    font-size: 13px;
    margin-top: 5px;
}

.s-mamul-tag span{
    padding: 5px;
    gap: 5px;
    border-radius: 15px;
    background-color: #e5e5e5;
}

/* 마이페이지 이미지 선택 모달 */
/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 3; /* label(z-index2)보다 위로 올리기 위해 3으로 설정 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    width: 30px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 이미지 갤러리 스타일 */
#imageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px;
}

.gallery-image {
    width: 100px;
    height: 100px;
    margin: 0px 20px;
    cursor: pointer;
}

/* 선택 버튼 스타일 */
#selectButton {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#selectButton:hover {
    background-color: #0056b3;
}

/* 선택된 이미지 스타일 */
#selectedImage img {
    width: 120px;
    height: 120px;
}
#o-m-c {
    width: 1000px;
}
.o-m-top {
    display: flex;
    flex-direction: row-reverse;
}
.o-m-top h2 {
    margin-right: 300px;
}
